{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/index.css' %}">
{% endblock %}

{% block content %}
    <!-- Hero image, welcome message, links to sign up and shop -->
    <section class="container-fluid container-hero">
        <div id="home-hero-image-1">
            <span class="sr-only"></span>
        </div>
        <div class="hero-image-overlay">
            <div class="hero-image-overlay-text hero-image-overlay-text-left">
                <div class="row" style="display: none" id="home-heading-logo">
                    <div class="col">
                        <img id="logo-home" src="../media/logos/logo-white.png"
                        alt="White Open Bionics logo" />
                    </div>
                </div>
                <div class="row" style="display: none" id="home-heading-1">
                    <div class="col-11 mx-auto">
                        <h1>Your limb difference is your superpower</h1>
                    </div>
                </div>
                <div class="row" style="display: none" id="home-heading-2">
                    <div class="col-10 mx-auto">
                        <h2>Who will you be?</h2>
                    </div>
                </div>
                <div class="row" style="display: none" id="home-heading-buttons">
                    <div class="col p-0">
                        <a class="btn btn-image mx-2" href="#" role="button">Sign Up</a>
                        <a class="btn btn-image mx-2" href="#" role="button">Shop</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Links to different types of covers (add cool animation if time at end of dev) -->
    <section class="container-compress">
        <div class="row p-0 m-0 bg-grey">
            <!-- Classic covers -->
            <div class="cover-tile col-5">
                <img class="cover-tile-image" id="cover-tile-image-home-classic" src="../media/covers/classic-black.png" alt="">
            </div>
            <div class="cover-tile col-7">
                <div class="cover-tile-info">
                    <h2 class="my-2">Classic</h2>
                    <!-- Interactive cover swatch -->
                    <div>
                        <div class="cover-swatch cover-swatch-black cover-swatch-active" id="cover-swatch-classic-black"></div>
                        <div class="cover-swatch cover-swatch-white" id="cover-swatch-classic-white"></div>
                        <div class="cover-swatch cover-swatch-red" id="cover-swatch-classic-red"></div>
                        <div class="cover-swatch cover-swatch-orange" id="cover-swatch-classic-orange"></div>
                        <div class="cover-swatch cover-swatch-silver" id="cover-swatch-classic-silver"></div>
                        <div class="cover-swatch cover-swatch-blue" id="cover-swatch-classic-blue"></div>
                        <div class="cover-swatch cover-swatch-green" id="cover-swatch-classic-green"></div>
                        <div class="cover-swatch cover-swatch-pink" id="cover-swatch-classic-pink"></div>
                        <div class="cover-swatch cover-swatch-yellow" id="cover-swatch-classic-yellow"></div>
                        <div class="cover-swatch cover-swatch-bluegrey" id="cover-swatch-classic-bluegrey"></div>
                        <div class="cover-swatch cover-swatch-purple" id="cover-swatch-classic-purple"></div>
                        <div class="cover-swatch cover-swatch-pinkbright" id="cover-swatch-classic-pinkbright"></div>
                    </div>
                    <h3>From £129</h3>
                    <a class="btn btn-dark my-2 d-sm-none" href="#" role="button">Shop</a>
                    <a class="btn btn-dark my-2 d-none d-sm-inline-block" href="#" role="button">Shop classic</a>
                </div>
            </div>
            <!-- Stylish covers -->
            <div class="cover-tile col-7">
                <div class="cover-tile-info">
                    <h2 class="my-2">Stylish</h2>
                    <!-- Interactive cover swatch -->
                    <div>
                        <div class="cover-swatch cover-swatch-black cover-swatch-active" id="cover-swatch-stylish-black"></div>
                        <div class="cover-swatch cover-swatch-white" id="cover-swatch-stylish-white"></div>
                        <div class="cover-swatch cover-swatch-red" id="cover-swatch-stylish-red"></div>
                        <div class="cover-swatch cover-swatch-orange" id="cover-swatch-stylish-orange"></div>
                        <div class="cover-swatch cover-swatch-silver" id="cover-swatch-stylish-silver"></div>
                        <div class="cover-swatch cover-swatch-blue" id="cover-swatch-stylish-blue"></div>
                        <div class="cover-swatch cover-swatch-green" id="cover-swatch-stylish-green"></div>
                        <div class="cover-swatch cover-swatch-pink" id="cover-swatch-stylish-pink"></div>
                        <div class="cover-swatch cover-swatch-yellow" id="cover-swatch-stylish-yellow"></div>
                        <div class="cover-swatch cover-swatch-bluegrey" id="cover-swatch-stylish-bluegrey"></div>
                        <div class="cover-swatch cover-swatch-purple" id="cover-swatch-stylish-purple"></div>
                        <div class="cover-swatch cover-swatch-pinkbright" id="cover-swatch-stylish-pinkbright"></div>
                    </div>
                    <h3>From £179</h3>
                    <a class="btn btn-dark my-2 d-sm-none" href="#" role="button">Shop</a>
                    <a class="btn btn-dark my-2 d-none d-sm-inline-block" href="#" role="button">Shop stylish</a>
                </div>
            </div>
            <div class="cover-tile col-5">
                <img class="cover-tile-image" id="cover-tile-image-home-stylish" src="../media/covers/stylish-black.png" alt="">
            </div>
        </div>
    </section>

    <section class="container-fluid">
        <div class="container-hero">
            <div id="home-hero-image-2">
                <span class="sr-only"></span>
            </div>
            <div class="hero-image-overlay">
                <div class="hero-image-overlay-text hero-image-overlay-text-right">
                    <div class="row">
                        <div class="col mx-auto">
                            <h2>Your arm<br>Your rules</h2>
                        </div>
                    </div>
                    <div class="row d-none d-lg-block">
                        <div class="col-10 mx-auto">
                            <span class="text-skinny">The Hero Arm is whatever you want it to be. With swappable covers, you can switch up your style to match your mood.</span>
                        </div>
                    </div>
                    <div class="row d-none d-lg-block">
                        <div class="col p-0">
                            <a class="btn btn-long btn-image" href="#" role="button">Shop covers</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bg-grey d-lg-none">
            <div class="col-10 col-sm-9 col-md-8 mx-auto centre">
                <span class="text-skinny">The Hero Arm is whatever you want it to be. With swappable covers, you can switch up your style to match your mood.</span>
                <br>
                <a class="btn btn-long btn-dark my-3" href="#" role="button">Shop covers</a>
            </div>
        </div>
    </section>

    <!-- Links to different types of covers (add cool animation if time at end of dev) -->
    <section class="container-compress">
        <div class="row p-0 m-0 bg-grey">
            <!-- Premium covers -->
            <div class="cover-tile col-5">
                <img class="cover-tile-image" id="cover-tile-image-home-premium" src="../media/covers/premium-white.png" alt="">
            </div>
            <div class="cover-tile col-7">
                <div class="cover-tile-info">
                    <h2 class="my-2">Premium</h2>
                    <!-- Interactive cover swatch -->
                    <div>
                        <div class="cover-swatch cover-swatch-white cover-swatch-active" id="cover-swatch-premium-white"></div>
                        <div class="cover-swatch cover-swatch-red" id="cover-swatch-premium-red"></div>
                        <div class="cover-swatch cover-swatch-orange" id="cover-swatch-premium-orange"></div>
                        <div class="cover-swatch cover-swatch-silver" id="cover-swatch-premium-silver"></div>
                        <div class="cover-swatch cover-swatch-blue" id="cover-swatch-premium-blue"></div>
                        <div class="cover-swatch cover-swatch-green" id="cover-swatch-premium-green"></div>
                    </div>
                    <h3>From £229</h3>
                    <a class="btn btn-dark my-2 d-sm-none" href="#" role="button">Shop</a>
                    <a class="btn btn-dark my-2 d-none d-sm-inline-block" href="#" role="button">Shop premium</a>
                </div>
            </div>
            <!-- Disney covers -->
            <div class="cover-tile col-7">
                <div class="cover-tile-info">
                    <h2 class="my-2">Disney</h2>
                    <!-- Interactive cover swatch -->
                    <div>
                        <div class="cover-swatch cover-swatch-pink" id="cover-swatch-disney-pink"></div>
                        <div class="cover-swatch cover-swatch-yellow" id="cover-swatch-disney-yellow"></div>
                        <div class="cover-swatch cover-swatch-bluegrey" id="cover-swatch-disney-bluegrey"></div>
                        <div class="cover-swatch cover-swatch-purple" id="cover-swatch-disney-purple"></div>
                        <div class="cover-swatch cover-swatch-pinkbright cover-swatch-active" id="cover-swatch-disney-pinkbright"></div>
                    </div>
                    <h3>From £279</h3>
                    <a class="btn btn-dark my-2 d-sm-none" href="#" role="button">Shop</a>
                    <a class="btn btn-dark my-2 d-none d-sm-inline-block" href="#" role="button">Shop Disney</a>
                </div>
            </div>
            <div class="cover-tile col-5">
                <img class="cover-tile-image" id="cover-tile-image-home-disney" src="../media/covers/disney-pinkbright.png" alt="">
            </div>
        </div>
    </section>

    <!-- <section class="container-compress black-border">
        <h2>Cover customiser</h2>
    </section> -->

    <section class="container-fluid">
        <div class="row bg-grey d-lg-none">
            <div class="col-11 col-sm-12 mx-auto centre">
                <h2>Looking for the Hero Arm?</h2>
            </div>
        </div>
        <div class="row bg-grey d-lg-none">
            <div class="col-10 col-sm-9 col-md-8 mx-auto centre">
                <span class="text-skinny">Before buying a bionic arm, we first need to pair you with a prosthetic clinic. Star Wars BB-8, Marvel Iron Man and Frozen Covers are now available with every Hero Arm.</span>
            </div>
        </div>
        <div class="row bg-grey d-lg-none">
            <div class="col mx-auto centre">
                <a class="btn btn-long btn-dark mb-3 d-sm-none" href="#" role="button">Shop Hero Arm</a>
                <a class="btn btn-long btn-dark d-none d-sm-inline-block" href="#" role="button">Start your journey today</a>
            </div>
        </div>
        <div class="container-hero">
            <div id="home-hero-image-3">
                <span class="sr-only"></span>
            </div>
            <div class="hero-image-overlay">
                <div class="hero-image-overlay-text hero-image-overlay-text-left">
                    <div class="row d-none d-lg-block">
                        <div class="col mx-auto">
                            <h2>Looking for the Hero Arm?</h2>
                        </div>
                    </div>
                    <div class="row d-none d-lg-block">
                        <div class="col-10 mx-auto">
                            <span class="text-skinny">Before buying a bionic arm, we first need to pair you with a prosthetic clinic. Star Wars BB-8, Marvel Iron Man and Frozen Covers are now available with every Hero Arm.</span>
                        </div>
                    </div>
                    <div class="row d-none d-lg-block">
                        <div class="col p-0">
                            <a class="btn btn-long btn-image" href="#" role="button">Start your journey today</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'home/includes/onload_animation.html' %}
{% include 'home/includes/cover_swatches.html' %}
{% endblock %}