{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/index.css' %}">
{% endblock %}

{% block content %}
    <!-- Hero image, welcome message, links to sign up and shop -->
    <section class="container-fluid container-hero">
        <div id="home-hero-image-1">
            <span class="sr-only"></span>
        </div>
        <div class="hero-image-overlay">
            <div class="hero-image-overlay-text hero-image-overlay-text-left">
                <div class="row" style="display: none" id="home-heading-logo">
                    <div class="col">
                        <img id="logo-home" src="{% get_media_prefix %}logo-white.png"
                        alt="White Open Bionics logo" />
                    </div>
                </div>
                <div class="row" style="display: none" id="home-heading-1">
                    <div class="col-11 mx-auto">
                        <h1>Your limb difference is your superpower</h1>
                    </div>
                </div>
                <div class="row" style="display: none" id="home-heading-2">
                    <div class="col-10 mx-auto">
                        <h2>Who will you be?</h2>
                    </div>
                </div>
                <div class="row" style="display: none" id="home-heading-buttons">
                    <div class="col p-0">
                        <a class="btn btn-image mx-2" href="{% url 'account_signup' %}" role="button">Sign Up</a>
                        <a class="btn btn-image mx-2" href="{% url 'products' %}" role="button">Shop</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Links to different types of covers -->
    <section class="container-fluid">
        <div class="row p-0 m-0">
            <!-- Classic covers -->
            <div class="cover-tile-bg-home-classic d-none d-sm-block col-sm-1 d-md-none d-xl-block col-xl-1 order-xl-1"></div>
            <div class="cover-tile cover-tile-bg-home-classic col-5 text-right col-sm-4 col-md-2 order-md-2 text-md-left order-xl-3">
                <img class="img-mirror-md cover-tile-image" id="cover-tile-image-home-classic" src="{% get_media_prefix %}classic-regenerate-black.png" alt="">
            </div>
            <div class="cover-tile cover-tile-bg-home-classic col-7 col-sm-6 col-md-4 order-md-1 col-xl-3 order-xl-2">
                <div class="cover-tile-info text-sm-left text-md-right">
                    <h2 class="my-2">Classic</h2>
                    <!-- Interactive cover swatch -->
                    <div>
                        <div class="cover-swatch cover-swatch-black" id="cover-swatch-classic-regenerate-black"></div>
                        <div class="cover-swatch cover-swatch-white" id="cover-swatch-classic-regenerate-white"></div>
                        <div class="cover-swatch cover-swatch-red" id="cover-swatch-classic-regenerate-red"></div>
                        <div class="cover-swatch cover-swatch-orange" id="cover-swatch-classic-regenerate-orange"></div>
                        <div class="cover-swatch cover-swatch-silver" id="cover-swatch-classic-regenerate-silver"></div>
                        <div class="cover-swatch cover-swatch-blue" id="cover-swatch-classic-regenerate-blue"></div>
                        <div class="cover-swatch cover-swatch-green" id="cover-swatch-classic-spectrum-green"></div>
                        <div class="cover-swatch cover-swatch-pink" id="cover-swatch-classic-spectrum-pink"></div>
                        <div class="cover-swatch cover-swatch-yellow" id="cover-swatch-classic-spectrum-yellow"></div>
                        <div class="cover-swatch cover-swatch-bluegrey" id="cover-swatch-classic-spectrum-bluegrey"></div>
                        <div class="cover-swatch cover-swatch-purple" id="cover-swatch-classic-spectrum-purple"></div>
                        <div class="cover-swatch cover-swatch-pinkbright" id="cover-swatch-classic-spectrum-pinkbright"></div>
                    </div>
                    <h3>From £129</h3>
                    <a class="btn btn-dark my-2 d-sm-none" href="{% url 'products' %}?range=classic" role="button">Shop</a>
                    <a class="btn btn-dark my-2 d-none d-sm-inline-block" href="{% url 'products' %}?range=classic" role="button">Shop classic</a>
                </div>
            </div>
            <div class="cover-tile-bg-home-classic d-none d-sm-block col-sm-1 d-md-none"></div>
            <!-- Stylish covers -->
            <div class="bg-lightgrey cover-tile-bg-home-stylish d-none d-sm-block col-sm-1 d-md-none"></div>
            <div class="bg-lightgrey cover-tile cover-tile-bg-home-stylish col-7 col-sm-6 col-md-4 order-md-4 col-xl-3 order-xl-5">
                <div class="cover-tile-info text-sm-right text-md-left">
                    <h2 class="my-2">Stylish</h2>
                    <!-- Interactive cover swatch -->
                    <div>
                        <div class="cover-swatch cover-swatch-black" id="cover-swatch-stylish-azdeco-black"></div>
                        <div class="cover-swatch cover-swatch-white" id="cover-swatch-stylish-vortex-white"></div>
                        <div class="cover-swatch cover-swatch-red" id="cover-swatch-stylish-harlequin-red"></div>
                        <div class="cover-swatch cover-swatch-orange" id="cover-swatch-stylish-azdeco-orange"></div>
                        <div class="cover-swatch cover-swatch-silver" id="cover-swatch-stylish-vortex-silver"></div>
                        <div class="cover-swatch cover-swatch-blue" id="cover-swatch-stylish-harlequin-blue"></div>
                        <div class="cover-swatch cover-swatch-green" id="cover-swatch-stylish-azdeco-green"></div>
                        <div class="cover-swatch cover-swatch-pink" id="cover-swatch-stylish-vortex-pink"></div>
                        <div class="cover-swatch cover-swatch-yellow" id="cover-swatch-stylish-harlequin-yellow"></div>
                        <div class="cover-swatch cover-swatch-bluegrey" id="cover-swatch-stylish-azdeco-bluegrey"></div>
                        <div class="cover-swatch cover-swatch-purple" id="cover-swatch-stylish-vortex-purple"></div>
                        <div class="cover-swatch cover-swatch-pinkbright" id="cover-swatch-stylish-harlequin-pinkbright"></div>
                    </div>
                    <h3>From £179</h3>
                    <a class="btn btn-dark my-2 d-sm-none" href="{% url 'products' %}?range=stylish" role="button">Shop</a>
                    <a class="btn btn-dark my-2 d-none d-sm-inline-block" href="{% url 'products' %}?range=stylish" role="button">Shop stylish</a>
                </div>
            </div>
            <div class="bg-lightgrey cover-tile cover-tile-bg-home-stylish col-5 text-left col-sm-4 col-md-2 order-md-3 text-md-right order-xl-4">
                <img class="cover-tile-image" id="cover-tile-image-home-stylish" src="{% get_media_prefix %}stylish-azdeco-black.png" alt="">
            </div>
            <div class="bg-lightgrey cover-tile-bg-home-stylish d-none d-sm-block col-sm-1 d-md-none d-xl-block col-xl-1 order-xl-6"></div>
        </div>
    </section>
    <!-- Hero Arm and covers description -->
    <section class="container-fluid">
        <div class="container-hero">
            <div id="home-hero-image-2">
                <span class="sr-only"></span>
            </div>
            <div class="hero-image-overlay">
                <div class="hero-image-overlay-text hero-image-overlay-text-right">
                    <div class="row">
                        <div class="col mx-auto">
                            <h2>Your arm<br>Your rules</h2>
                        </div>
                    </div>
                    <div class="row d-none d-lg-block">
                        <div class="col-10 mx-auto">
                            <span class="text-skinny">The Hero Arm is whatever you want it to be. With swappable covers, you can switch up your style to match your mood.</span>
                        </div>
                    </div>
                    <div class="row d-none d-lg-block">
                        <div class="col p-0">
                            <a class="btn btn-long btn-image" href="{% url 'products' %}" role="button">Shop covers</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-lg-none py-3">
            <div class="col-10 col-sm-9 col-md-8 mx-auto ">
                <span class="text-skinny">The Hero Arm is whatever you want it to be. With swappable covers, you can switch up your style to match your mood.</span>
                <br>
                <a class="btn btn-long btn-dark my-2" href="{% url 'products' %}" role="button">Shop covers</a>
            </div>
        </div>
    </section>
    <!-- Links to Premium and Disney covers -->
    <section class="container-fluid">
        <div class="row p-0 m-0">
            <!-- Premium covers -->
            <div class="cover-tile-bg-home-premium d-none d-sm-block col-sm-1 d-md-none d-xl-block col-xl-1 order-xl-1"></div>
            <div class="cover-tile cover-tile-bg-home-premium col-5 text-right col-sm-4 col-md-2 order-md-2 text-md-left order-xl-3">
                <img class="img-mirror-md cover-tile-image" id="cover-tile-image-home-premium" src="{% get_media_prefix %}premium-deusex-black.png" alt="">
            </div>
            <div class="cover-tile cover-tile-bg-home-premium col-7 col-sm-6 col-md-4 order-md-1 col-xl-3 order-xl-2">
                <div class="cover-tile-info text-sm-left text-md-right">
                    <h2 class="my-2">Premium</h2>
                    <!-- Interactive cover swatch -->
                    <div>
                        <div class="cover-swatch cover-swatch-black" id="cover-swatch-premium-deusex-black"></div>
                        <div class="cover-swatch cover-swatch-purple" id="cover-swatch-premium-handala-purple"></div>
                        <div class="cover-swatch cover-swatch-red" id="cover-swatch-premium-metalgearsolid-black"></div>
                    </div>
                    <h3>From £129</h3>
                    <a class="btn btn-dark my-2 d-sm-none" href="{% url 'products' %}?range=premium" role="button">Shop</a>
                    <a class="btn btn-dark my-2 d-none d-sm-inline-block" href="{% url 'products' %}?range=premium" role="button">Shop premium</a>
                </div>
            </div>
            <div class="cover-tile-bg-home-premium d-none d-sm-block col-sm-1 d-md-none"></div>
            <!-- Disney covers -->
            <div class="bg-lightgrey cover-tile-bg-home-disney d-none d-sm-block col-sm-1 d-md-none"></div>
            <div class="bg-lightgrey cover-tile cover-tile-bg-home-disney col-7 col-sm-6 col-md-4 order-md-4 col-xl-3 order-xl-5">
                <div class="cover-tile-info text-sm-right text-md-left">
                    <h2 class="my-2">Disney</h2>
                    <!-- Interactive cover swatch -->
                    <div>
                        <div class="cover-swatch cover-swatch-orange" id="cover-swatch-disney-bb8-white"></div>
                        <div class="cover-swatch cover-swatch-blue" id="cover-swatch-disney-frozen-blue"></div>
                        <div class="cover-swatch cover-swatch-red" id="cover-swatch-disney-ironman-red"></div>
                        <div class="cover-swatch cover-swatch-white" id="cover-swatch-disney-r2d2-white"></div>
                    </div>
                    <h3>From £179</h3>
                    <a class="btn btn-dark my-2 d-sm-none" href="{% url 'products' %}?range=disney" role="button">Shop</a>
                    <a class="btn btn-dark my-2 d-none d-sm-inline-block" href="{% url 'products' %}?range=disney" role="button">Shop Disney</a>
                </div>
            </div>
            <div class="bg-lightgrey cover-tile cover-tile-bg-home-disney col-5 text-left col-sm-4 col-md-2 order-md-3 text-md-right order-xl-4">
                <img class="cover-tile-image" id="cover-tile-image-home-disney" src="{% get_media_prefix %}disney-bb8-white.png" alt="">
            </div>
            <div class="bg-lightgrey cover-tile-bg-home-disney d-none d-sm-block col-sm-1 d-md-none d-xl-block col-xl-1 order-xl-6"></div>
        </div>
    </section>
    <!-- Looking for the Hero Arm? -->
    <section class="container-fluid bg-lightgrey">
        <div class="row d-lg-none pt-3">
            <div class="col-11 col-sm-12 mx-auto ">
                <h2>Looking for the Hero Arm?</h2>
            </div>
        </div>
        <div class="row d-lg-none pt-0">
            <div class="col-10 col-sm-9 col-md-8 mx-auto ">
                <span class="text-skinny">Before buying a bionic arm, we first need to pair you with a prosthetic clinic. Star Wars BB-8, Marvel Iron Man and Frozen Covers are now available with every Hero Arm.</span>
            </div>
        </div>
        <div class="row d-lg-none">
            <div class="col mx-auto ">
                <a class="btn btn-long btn-dark mb-3 d-sm-none" target="_blank" href="https://openbionics.com/sign-up/" role="button">Shop Hero Arm</a>
                <a class="btn btn-long btn-dark d-none d-sm-inline-block" target="_blank" href="https://openbionics.com/sign-up/" role="button">Start your journey today</a>
            </div>
        </div>
        <div class="container-hero">
            <div id="home-hero-image-3">
                <span class="sr-only"></span>
            </div>
            <div class="hero-image-overlay">
                <div class="hero-image-overlay-text hero-image-overlay-text-left">
                    <div class="row d-none d-lg-block">
                        <div class="col mx-auto">
                            <h2>Looking for the Hero Arm?</h2>
                        </div>
                    </div>
                    <div class="row d-none d-lg-block">
                        <div class="col-10 mx-auto">
                            <span class="text-skinny">Before buying a bionic arm, we first need to pair you with a prosthetic clinic. Star Wars BB-8, Marvel Iron Man and Frozen Covers are now available with every Hero Arm.</span>
                        </div>
                    </div>
                    <div class="row d-none d-lg-block">
                        <div class="col p-0">
                            <a class="btn btn-long btn-image" target="_blank" href="https://openbionics.com/sign-up/" role="button">Start your journey today</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'home/includes/onload_animation.html' %}
{% include 'home/includes/cover_swatches.html' %}
{% endblock %}