{% if product.style.name != "metalGearSolid" and product.style.name != "deusEx" and product.style.name != "ironMan" and product.style.name != "bb8" and product.style.name != "frozen" and product.style.name != "r2d2" %}
<div>
    <span class="d-none" id="productdetail-range">{{ product.range }}</span>
    <span class="d-none" id="productdetail-bgcolour">{{ product.colour.hex_background }}</span>
</div>
{% endif %}

<script>
    onload = function () {
        var coverRange = $("#productdetail-range").html();
        var coverBgColour = $("#productdetail-bgcolour").html();

        $(`.cover-tile-bg-${coverRange}`).css("backgroundColor", coverBgColour);
    }
</script>