{% if product_swatch.style.name != "metalGearSolid" and product_swatch.style.name != "deusEx" and product_swatch.style.name != "ironMan" and product_swatch.style.name != "bb8" and product_swatch.style.name != "frozen" and product_swatch.style.name != "r2d2" %}
<div class="d-none">
    <span id="productdetail-range">{{ product.range }}</span>
    <span id="productdetail-bgcolour">{{ product.colour.hex_background }}</span>
</div>
{% endif %}

<script>
    onload = function () {
        var coverRange = $("#productdetail-range").html();
        var coverBgColour = $("#productdetail-bgcolour").html();
        $(`.cover-tile-bg-${coverRange}`).css("backgroundColor", coverBgColour);
        $('.cover-swatch').addClass('cover-swatch-detail').removeClass('cover-swatch-fav');
    }
</script>