<button class="icon icon-black modal-close" onclick="closeFilters()">
    <span><i class="fas fa-times"></i></span>
</button>
<h2 class="p-2">Filters <i class="fas fa-sliders-h"></i></h2>
<hr>
<h3 class="mb-0 p-2">current filter</h3>
<hr>
<!-- Product filters dropdown -->
<div id="accordion">
    <div class="card mt-2">
        <!-- Range dropdown -->
        <div class="card-header pb-0" id="accordion-productfilters-range">
            <button type="button" class="btn collapsed" data-toggle="collapse"
                data-target="#collapse-productfilters-range" aria-expanded="false"
                aria-controls="collapse-productfilters-range">
                <span>Range</span>
                <i class="fas fa-angle-down"></i>
            </button>
        </div>
        <div id="collapse-productfilters-range" class="accordion collapse show"
            aria-labelledby="accordion-productfilters-range" data-parent="#accordion">
            <div class="card-body pt-0 pb-2" id="productfilters-range">
                {% for range in ranges %}
                <div class="form-check">
                    <label class="form-check-label container-radio text-skinny" for="{{range.name}}">
                        <input class="form-check-input" type="radio" value="?range={{range.name}}" id="{{range.name}}" name="range">
                        <span class="form-check-checkmark"></span>
                        {{range.friendly_name}} (#)
                    </label>
                </div>
                {% endfor %}
            </div>
        </div>
        <hr>
        <!-- Style dropdown -->
        <div class="card-header pb-0" id="accordion-productfilters-style">
            <button type="button" class="btn collapsed" data-toggle="collapse"
                data-target="#collapse-productfilters-style" aria-expanded="false"
                aria-controls="collapse-productfilters-style">
                <span>style</span>
                <i class="fas fa-angle-down"></i>
            </button>
        </div>
        <div id="collapse-productfilters-style" class="accordion collapse"
            aria-labelledby="accordion-productfilters-style" data-parent="#accordion">
            <div class="card-body pt-0 pb-2" id="productfilters-style">
                {% for style in styles %}
                <div class="form-check">
                    <label class="form-check-label container-radio text-skinny" for="{{style.name}}">
                        <input class="form-check-input" type="radio" value="?style={{style.name}}" id="{{style.name}}" name="style">
                        <span class="form-check-checkmark"></span>
                        {{style.friendly_name}} (#)
                    </label>
                </div>
                {% endfor %}
            </div>
        </div>
        <hr>
        <!-- Colour dropdown -->
        <div class="card-header pb-0" id="accordion-productfilters-colour">
            <button type="button" class="btn collapsed" data-toggle="collapse"
                data-target="#collapse-productfilters-colour" aria-expanded="false"
                aria-controls="collapse-productfilters-colour">
                <span>colour</span>
                <i class="fas fa-angle-down"></i>
            </button>
        </div>
        <div id="collapse-productfilters-colour" class="accordion collapse"
            aria-labelledby="accordion-productfilters-colour" data-parent="#accordion">
            <div class="card-body pt-0 pb-2" id="productfilters-colour">
                {% for colour in colours %}
                <div class="form-check">
                    <label class="form-check-label container-radio text-skinny" for="{{colour.name}}">
                        <input class="form-check-input" type="radio" value="?colour={{colour.name}}" id="{{colour.name}}" name="colour">
                        <span class="form-check-checkmark"></span>
                        {{colour.friendly_name}} (#)
                    </label>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>