<div class="col-12 col-sm-5 col-md-3 col-xl-2 cover-tile cover-tile-products">
    {% if product.available == False %}
    <h3 class="product-tag product-unavailable text-thick">Unavailable</h3>
    {% endif %}
    <a href="{% url 'product_detail' product.id %}">
        <div class="cover-tile-image-container">
            <img class="cover-tile-image" src="{{ MEDIA_URL }}{{ product.image }}" alt="{{ product.name }}">
        </div>
    </a>
    <hr class="my-2 hr-long">
    <div class="cover-tile-name text-dark">
        <span>{{ product.name }}</span>
    </div>
    <span class="cover-tile-price text-thick">£{{ product.price }}</span>
    {% if request.user.is_superuser %}
    <h3 class="my-2">
        <a class="text-success" href="{% url 'edit_product' product.id %}">Edit</a> |
        <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
    </h3>
    {% endif %}
    <hr class="mt-2  hr-long">
</div>