<button class="icon icon-black modal-close" onclick="closeFilters()">
    <span><i class="fas fa-times"></i></span>
</button>
<h2 class="p-2">Filters</h2>
<hr class="mb-2">
{% if current_range != None or current_style != None or current_colour != None %}
<span class="text-skinny" id="filters-title"></span>
{% else %}
<span class="text-skinny" id="filters-title-none">No current filters</span>
{% endif %}
<hr class="mt-2">
<!-- Product filters dropdown -->
<div id="accordion">
    <div class="card mt-2">
        <!-- Range dropdown -->
        <div class="card-header pb-0" id="accordion-productfilters-range">
            <button type="button" class="btn collapsed" data-toggle="collapse"
                data-target="#collapse-productfilters-range" aria-expanded="false"
                aria-controls="collapse-productfilters-range">
                <span>Range</span>
                <i class="fas fa-angle-down"></i>
            </button>
        </div>
        <div id="collapse-productfilters-range" class="accordion collapse"
            aria-labelledby="accordion-productfilters-range" data-parent="#accordion">
            <div class="card-body pt-0 pb-2">
                <div class="form-check" id="productfilters-range" oninput="filterCategoriesRange()">
                    {% for range in ranges %}
                        <label class="form-check-label container-radio text-skinny" for="{{range.name}}" id="{{range.name}}_label">
                            <input class="form-check-input" type="radio" value="{{range.name}}" id="{{range.name}}" name="range">
                            <span class="form-check-checkmark"></span>
                            {{range.friendly_name}} ({{range.count}})
                        </label>
                    {% endfor %}
                </div>
            </div>
        </div>
        <hr>
        <!-- Style dropdown -->
        <div class="card-header pb-0" id="accordion-productfilters-style">
            <button type="button" class="btn collapsed" data-toggle="collapse"
                data-target="#collapse-productfilters-style" aria-expanded="false"
                aria-controls="collapse-productfilters-style">
                <span>style</span>
                <i class="fas fa-angle-down"></i>
            </button>
        </div>
        <div id="collapse-productfilters-style" class="accordion collapse"
            aria-labelledby="accordion-productfilters-style" data-parent="#accordion">
            <div class="card-body pt-0 pb-2">
                <div class="form-check" oninput="filterCategoriesStyle()" id="productfilters-style">
                    {% for style in styles %}
                        <label class="form-check-label container-radio text-skinny" for="{{style.name}}" id="{{style.name}}_label">
                            <input class="form-check-input" type="radio" value="{{style.name}}" id="{{style.name}}" name="style">
                            <span class="form-check-checkmark"></span>
                            {{style.friendly_name}} ({{style.count}})
                        </label>
                    {% endfor %}
                </div>
            </div>
        </div>
        <hr>
        <!-- Colour dropdown -->
        <div class="card-header pb-0" id="accordion-productfilters-colour">
            <button type="button" class="btn collapsed" data-toggle="collapse"
                data-target="#collapse-productfilters-colour" aria-expanded="false"
                aria-controls="collapse-productfilters-colour">
                <span>colour</span>
                <i class="fas fa-angle-down"></i>
            </button>
        </div>
        <div id="collapse-productfilters-colour" class="accordion collapse"
            aria-labelledby="accordion-productfilters-colour" data-parent="#accordion">
            <div class="card-body pt-0 pb-2">
                <div class="form-check" oninput="filterCategoriesColour()" id="productfilters-colour">
                    {% for colour in colours %}
                        <label class="form-check-label container-radio text-skinny" for="{{colour.name}}" id="{{colour.name}}_label">
                            <input class="form-check-input" type="radio" value="{{colour.name}}" id="{{colour.name}}" name="colour">
                            <span class="form-check-checkmark"></span>
                            {{colour.friendly_name}} ({{colour.count}})
                        </label>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <script type="text/javascript">
    onload = function() {
        var currentUrl = new URL(window.location);
        var range = currentUrl.searchParams.get("range");
        var style = currentUrl.searchParams.get("style");
        var colour = currentUrl.searchParams.get("colour");

        // var filtersTitleNav = $(`#${name}_label`).text().trim()
        // $("#filters-title-nav").html(filtersTitleNav);

        console.log(currentUrl);
        console.log(range);
        console.log(style);
        console.log(colour);
        console.log("Hi!!!")
        // var newUrl = currentUrl.split("?")[1].split("=");
        // var category = newUrl[0];
        // var name = newUrl[1];

        // var filtersTitleNav = $(`#${name}_label`).text().trim()
        // $("#filters-title-nav").html(filtersTitleNav);
        
        // var filtersTitle = $(`#${name}_label`).text().trim().split("(")[0].trim();

        // $(`input[name=${category}][value='?${category}=${name}']`).prop("checked",true);
        // $(`#collapse-productfilters-${category}`).addClass("show");
        // $("#filters-title").html(`${category} | ${filtersTitle}`);
    }
</script> -->

<script type="text/javascript">
    function filterCategoriesRange() {
        var range = $('input[name="range"]:checked').val();
        var currentUrl = new URL(window.location);
        
        currentUrl.searchParams.set("range", range);
        currentUrl.searchParams.delete("style");
        currentUrl.searchParams.delete("colour");
        
        window.location.replace(currentUrl);
    };

    function filterCategoriesStyle() {
        var style = $('input[name="style"]:checked').val();
        var currentUrl = new URL(window.location);
        
        currentUrl.searchParams.delete("range");
        currentUrl.searchParams.set("style", style);
        currentUrl.searchParams.delete("colour");
        
        window.location.replace(currentUrl);
    };

    function filterCategoriesColour() {
        var colour = $('input[name="colour"]:checked').val();
        var currentUrl = new URL(window.location);
        
        currentUrl.searchParams.delete("range");
        currentUrl.searchParams.delete("style");
        currentUrl.searchParams.set("colour", colour);
        
        window.location.replace(currentUrl);
    };
</script>