<h2 class="p-2 d-md-none">Sorting</h2>
<hr class="mt-md-3 mb-2">
{% if current_sorting != None %}
<button class="btn btn-light px-3" onclick="resetSort()">
    <span class="sort-title"></span>
    <div class="icon icon-black icon-category-reset">
        <span><i class="fas fa-times"></i></span>
    </div>
</button>
{% else %}
<span class="text-skinny" id="sort-title-none">No current sorting</span>
{% endif %}
<hr class="mt-2">
<!-- Product sorting dropdown -->
<div class="card mt-2 mb-4">
    <!-- Sort dropdown -->
    <div class="card-body px-3 pt-3 pb-1">
        <div class="form-check" id="product-sort" oninput="sortSelection()">
            <!-- Sort by name -->
            <label class="form-check-label container-radio text-skinny" for="name_asc" id="name_asc_label">
                <input class="form-check-input" type="radio" value="name_asc" id="name_asc"
                    name="sort">
                <span class="form-check-checkmark"></span>
                Name (A - Z)
            </label>
            <label class="form-check-label container-radio text-skinny" for="name_desc" id="name_desc_label">
                <input class="form-check-input" type="radio" value="name_desc" id="name_desc"
                    name="sort">
                <span class="form-check-checkmark"></span>
                Name (Z - A)
            </label>
            <!-- Sort by price -->
            <label class="form-check-label container-radio text-skinny" for="price_asc" id="price_asc_label">
                <input class="form-check-input" type="radio" value="price_asc" id="price_asc"
                    name="sort">
                <span class="form-check-checkmark"></span>
                Price (low to high)
            </label>
            <label class="form-check-label container-radio text-skinny" for="price_desc" id="price_desc_label">
                <input class="form-check-input" type="radio" value="price_desc" id="price_desc"
                    name="sort">
                <span class="form-check-checkmark"></span>
                Price (high to low)
            </label>
            <!-- Sort by colour -->
            <label class="form-check-label container-radio text-skinny" for="colour_asc" id="colour_asc_label">
                <input class="form-check-input" type="radio" value="colour_asc" id="colour_asc"
                    name="sort">
                <span class="form-check-checkmark"></span>
                Colour (low to high)
            </label>
            <label class="form-check-label container-radio text-skinny" for="colour_desc" id="colour_desc_label">
                <input class="form-check-input" type="radio" value="colour_desc" id="colour_desc"
                    name="sort">
                <span class="form-check-checkmark"></span>
                Colour (high to low)
            </label>
        </div>
    </div>
</div>

<!-- Add/remove search parameters from url -->
<script>
    function sortSelection() {
        var sortVal = $('input[name="sort"]:checked').val();
        var currentUrl = new URL(window.location);

        var sort = sortVal.split("_")[0];
        var direction = sortVal.split("_")[1];

        currentUrl.searchParams.set("sort", sort);
        currentUrl.searchParams.set("direction", direction);

        window.location.replace(currentUrl);
    }

    function resetSort() {
        var currentUrl = new URL(window.location);

        currentUrl.searchParams.delete("sort");
        currentUrl.searchParams.delete("direction");

        window.location.replace(currentUrl);
    }
</script>