<div class="col-12 col-sm-6 col-md-5 col-lg-4 cover-tile cover-tile-products">
    {% if product.available == False %}
    <h3 class="product-tag product-unavailable text-thick">Unavailable</h3>
    {% endif %}
    <a href="{% url 'product_detail' product.id %}">
        <div class="cover-tile-image-container">
            {% if product.image %}
            <img class="cover-tile-image"
                src="{{ MEDIA_URL }}{{ product.image }}" alt="{{ product.name }}">
            {% else %}
            <img class="cover-tile-image"
                src="{{ MEDIA_URL }}no-image.png" alt="{{ product.name }} - missing image">
            {% endif %}
        </div>
    </a>
    <hr class="my-2 hr-long">
    <div class="cover-tile-name text-dark mx-auto">
        <span class="align-self-center">{{ product.name }}</span>
    </div>
    <span class="cover-tile-price text-thick">£{{ product.price }}</span>
    {% if request.user.is_superuser %}
    <br>
    <span class="cover-tile-admin my-2">
        <a class="text-success" href="{% url 'edit_product' product.id %}">Edit</a> |
        <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
    </span>
    {% endif %}
    <hr class="mt-2 hr-long">
</div>