/* Stylesheet for elements specific to the home page */

#home-hero-image-1 {
    height: 100%;
	width: 100%;
    background: url("/media/home-hero-image-zak.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 85% 0%;
}

#logo-home {
    width: 275px;
}

#home-hero-image-2 {
    height: 100%;
	/* width: 100%; */
    background: url("/media/home-hero-image-tilly.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 0%;
}

#home-hero-image-3 {
    height: 100%;
	width: 100%;
    background: url("/media/home-hero-image-luke.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 92.5% 0%;
}

/* MEDIA QUERIES */
@media (min-width: 992px) {
    #home-hero-image-1 {
        background-position: 90% 20%;
    }

    #logo-home {
        width: 350px;
    }

    #home-hero-image-2 {
        background-position: 100% 0%;
    }

    #home-hero-image-3 {
        background-position: 90% 70%;
    }
}