{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
<header class="container-fluid">
    <div class="row bg-white">
        <div class="col">
            <h2 class="p-0">Profile</h2>
        </div>
    </div>
</header>
<section class="container-compress">
    <div class="row">
        <div class="col-10 col-sm-6 mx-auto">
            <hr class="hr-long">
            <h3 class="my-2">Default delivery</h3>
            <hr class="hr-long">
            <form class="mt-2" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {% for field in form %}
                {{ field | as_crispy_field }}
                {% endfor %}
                <button class="btn btn-light btn-long mb-3">Update Details</button>
            </form>
        </div>
        {% if orders %}
        <div class="col-12 col-sm-6 mx-auto">
            <hr class="hr-long">
            <h3 class="my-2">Order history</h3>
            <hr class="hr-long">
            {% for order in orders %}
            <div class="orderhistory-table m-2">
                <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                    <div class="text-dark orderhistory-product-text px-3 pt-3 text-center d-lg-none">
                        <span>
                            <span class="orderhistory-product-title">Order number:<br></span>{{ order.order_number|truncatechars:16 }}
                        </span>
                        <br>
                        <span>
                            <span class="orderhistory-product-title">Order date:<br></span>{{ order.date }}
                        </span>
                        <br>
                        <span>
                            <span class="orderhistory-product-title">Grand total:<br></span>£{{ order.grand_total }}
                        </span>
                        <hr class="mt-2 hr-xlong">
                    </div>
                    <div class="text-dark orderhistory-product-text px-3 pt-3 d-none d-lg-block">
                        <span>
                            <span class="orderhistory-product-title">Order number: </span>{{ order.order_number|truncatechars:16 }}
                        </span>
                        <br>
                        <span>
                            <span class="orderhistory-product-title">Order date: </span>{{ order.date }}
                        </span>
                        <br>
                        <span>
                            <span class="orderhistory-product-title">Grand total: </span>£{{ order.grand_total }}
                        </span>
                        <hr class="mt-2 hr-xlong">
                    </div>
                    <table class="text-dark mb-2">
                        {% for item in order.lineitems.all %}
                        <tr>
                            <th rowspan="4">
                                {% if item.product.image %}
                                <img class="cover-tile-image-xs mt-1 mx-3 " src="{{ item.product.image_url }}"
                                    alt="{{ item.product.name }}">
                                {% else %}
                                <img class="cover-tile-image-xs mt-1 mx-3" src="{{ MEDIA_URL }}noimage.png"
                                    alt="{{ item.product.name }}">
                                {% endif %}
                            </th>
                        </tr>
                        <tr>
                            <td class="orderhistory-product-text orderhistory-product-title pt-2">
                                <span>{{ item.product.name }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="orderhistory-product-text">
                                <span>£{{ item.product.price }} each</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="orderhistory-product-text pb-1">
                                <span>Quantity: {{ item.quantity }}</span>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </a>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}