{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<header class="container-fluid">
    <div class="row bg-white">
        <div class="col">
            <h2 class="p-0">Checkout</h2>
        </div>
    </div>
</header>
{% include 'checkout/includes/checkout_order_summary.html' %}
<!-- Overlay for lazy loading -->
<section>
    <div id="loading-overlay">
        <h1 class="text-xl loading-spinner">
            <i class="fas fa-3x fa-sync-alt fa-spin"></i>
        </h1>
    </div>
</section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}