/* Stylesheet for elements on the profile page */
#profile-update-form .form-control {
    color: #000;
}

#profile-update-form input::placeholder {
    color: #ccc;
    text-transform: capitalize;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #ccc;
}

.orderhistory-table {
    background-color: #fff;
    color: #151635;
    border-radius: 25px;
    transition: transform .25s ease-in-out;
    word-wrap: break-word;
}

.orderhistory-table:hover {
    transform: scale(1.025);
    text-transform: none;
}

.orderhistory-product-text, .fieldset-legend {
    text-align: left;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    align-items: center;
}

.orderhistory-product-title, .fieldset-legend {
    font-weight: 400;
    font-size: 1.2rem;
}