/* Stylesheet for elements specific to the allauth pages */

.allauth-hero-image {
    height: 100%;
    background: url("/media/notproducts/allauth-hero-image-tilly.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 92.5% 0%;
}

.logo-allauth {
    width: 275px;
}

.allauth-results-container {
    height: 100%;
    display: flex;
}

.allauth-results {
    align-self: center;
}


/* Allauth form formatting */

.allauth-form-inner-content {
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 0.3px;
    color: #fff;
}

.allauth-form-inner-content input {
    background-color: #fff;
    border: none;
    padding: 0.25rem 1rem;
    border-radius: 20px;
    height: 40px;
    width: 250px;
    margin: auto;
}

.allauth-form-inner-content .btn-dark {
    border: solid 2px #151635;
    background-color: transparent;
    border-radius: 30px;
    height: 60px;
    min-width: 130px;
}

.allauth-form-inner-content input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px white inset;
    /* Change the color to your own background color */
    -webkit-text-fill-color: #151635;
}

.allauth-form-inner-content input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px white inset;
    /*your box-shadow*/
    -webkit-text-fill-color: #151635;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #ccc;
    text-transform: capitalize;
}

#div_id_password,
#div_id_password2 {
    margin-bottom: 4px;
}

.alluth-hr {
    border-color: rgba(255, 255, 255, 1);
    border-width: 3px;
    width: 75%;
}

.alluth-error,
.invalid-feedback {
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 0.3px;
    line-height: 1.25;
    color: #fff;
}

.invalid-feedback {
    font-size: 1rem;
    margin: 0.25rem auto 0;
}

.allauth-form-inner-content a {
    color: #fff;
}

.allauth-form-inner-content a:hover {
    text-decoration: underline;
}


/* MEDIA QUERIES */

@media (min-width: 576px) {
    .logo-allauth {
        width: 350px;
    }
}

@media (min-width: 992px) {
    .allauth-hero-image {
        background-position: 50% 40%;
    }
    #div_id_password,
    #div_id_password2 {
        margin-bottom: 8px;
    }
}