/* Stylesheet with declarations for body, nav, footer, sidebars and toasts */

/* Dark OB blue #151635 */
/* Light OB blue #319cd2 */
/* Website blue #1c86c8 */
/* Light grey background #f0f3f4 */

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700&display=swap');

/* GENERAL STYLES */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f3f4;
    color: #151635;
    font-size: 16px;
}

.row, .col, .container-fluid, .container-compress, .form, .form-row, h1, h2, h3, h4, h5, h6 {
	padding: 0;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.row {
    padding: 0.5rem 0;
}

.container-fluid, .container-compress {
    width: 100%;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

.filler-top {
	height: 60px;
}

/* NAV AND FOOTER */
nav, footer {
	font-family: 'Poppins', sans-serif;
	color: #fff;
}

.navbar-top, footer {
	background-color: #1c86c8;
	padding: 10px;
}

.navbar-bottom {
	background-color: #1c86c8;
	border-top: 2px solid #fff;
	padding: 5px 10px;
}

#logo-nav {
	height: 40px;
}

#logo-nav-circle {
	height: 40px;
	width: 40px;
	border: solid #fff 4px;
	background: #fff;
	border-radius: 50%;
}

#logo-footer {
	width: 250px;
	margin: 10px;
}

.navbar-search {
	height: 40px;
	border-radius: 20px;
    border: #fff solid 2px;
}

.navbar-search-sidebar {
	width: 92.5%;
	margin: 0.25rem 0.5rem;
}

.navbar-search input {
	color: #fff;
	background-color: #1c86c8;
	font-size: 18px;
	border: none;
	outline: none;
	height: 35px;
	width: 75%;
	margin-left: 15px;
}

.navbar-icon-search {
    color: #fff;
    background-color: #1c86c8;
	font-size: 18px;
    border: none;
    border-radius: 50%;
	height: 35px;
	margin-right: 0px;
}

::placeholder {
  color: #fff;
  text-transform: uppercase;
  opacity: 1;
}

.navbar-nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.navbar-nav .nav-item {
	padding-left: 10px;
	padding-right: 10px;
}

.navbar-nav-sidebar {
	display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-item .nav-link {
	font-size: 1.25rem;
	color: #fff;
	text-transform: uppercase;
}

.nav-item .nav-link:hover {
	text-decoration: underline;
}

.nav-profile-dropdown-menu.show {
    display: block;
    z-index: 100;
}

.nav-profile-dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    text-transform: uppercase;
    font-size: 1.25rem;
}

.nav-profile-dropdown-menu, .toast-container {
    position: fixed;
    top: 72px;
    right: 15px;
    display: none;
    float: right;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    text-align: right;
    list-style: none;
    background-clip: padding-box;
    border-radius: .25rem;

    background-color: #fff;
    border: 3px solid #1c86c8;
}

/* TOASTS */
.toast-container {
    display: block;
    left: 15px;
    padding: 0;
    max-width: 350px;
    z-index: 10;
    border: none;
}

.toast {
    margin: 0;
    border: none;
    padding: .5rem;
}

.toast.hide, .toast-container.hide {
    display: none;
}

.custom-toast {
    overflow: visible;
    margin: 0;
    border: #151635 solid 2px;
}

.toast-header {
    color: #151635;
    border: none;
    width: 100%;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-family: 'Poppins', sans-serif;
    padding: 0 0.25rem 0.25rem 0.75rem;
}

.toast-body {
    font-size: 1rem;
    text-align: left;
    color: #151635;
    padding: 0.25rem 0.75rem 0 0.75rem;
    border-top: solid 1px #151635;
}

button.close {
    color: #151635;
    border-radius: 50%;
    border: 2px solid #151635;
    height: 28px;
    width: 28px;
    opacity: 1;
}

.close:hover {
    color: #151635;
    text-decoration: none;
}

.custom-toast-success, .custom-toast-success .toast-body, .custom-toast-success button.close {
    border-color: #28a745;
}

.custom-toast-success .toast-header, .custom-toast-success .toast-body, .custom-toast-success button.close, .custom-toast-success button.close:hover {
    color: #28a745;
}

.custom-toast-information, .custom-toast-information .toast-body, .custom-toast-information button.close {
    border-color: #1c86c8;
}

.custom-toast-information .toast-header, .custom-toast-information .toast-body, .custom-toast-information button.close, .custom-toast-information button.close:hover {
    color: #1c86c8;
}

.custom-toast-error, .custom-toast-error .toast-body, .custom-toast-error button.close {
    border-color: #dc3545;
}

.custom-toast-error .toast-header, .custom-toast-error .toast-body, .custom-toast-error button.close, .custom-toast-error button.close:hover {
    color: #dc3545;
}

.custom-toast-alert {
    border-color: #f3f035;
}

/* BANNER MESSAGES */
.banner-messages {
	background-color: #f0f3f4;
	color: #151635;
	padding: 10px 15px;
	text-align: center;
}

/* SIDEBARS */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  overflow-x: hidden;

  color: #151635;
  background-color: #f0f3f4;
  border: 0px #151635 solid;
  
  transition: 0.5s;
}

.sidebar-nav {
    color: #fff;
    background-color: #1c86c8;
    border: 0px #fff solid;
}

.sidebar .sidebar-close {
  position: absolute;
  top: 8px;
  right: 8px;
}

.sidebar-product-text {
    text-align: left;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    display: flex;
    align-items: center;
}

.sidebar-product-title {
    font-weight: 400;
    font-size: 1.2rem;
}

/* MEDIA QUERIES */
@media (min-width: 576px) {
	.navbar-search input {
		width: 175px;
		margin-left: 15px;
	}

	.navbar-icon-search {
		margin-right: 5px;
	}

	.filler-top {
		height: 118px;
    }
    
    .nav-profile-dropdown-menu {
        box-shadow: 2px -2px #319cd2;
    }

    #logo-footer {
        width: 300px;
    }

    .toast-container {
        top: 125px;
    }
}

@media (min-width: 768px) {
    .container-compress {
        width: 85%;
    }
    
    .navbar-search input {
		width: 250px;
    }

    .banner-messages {
        padding: 10px 25px;
    }
}

@media (min-width: 992px) {    
    .navbar-search input {
		width: 350px;
    }
}

@media (min-width: 1200px) {    
    .container-compress {
        width: 70%;
    }
}