/* Stylesheet with declarations for common elements and components used throughout site */

/* HEADINGS AND TEXT */
h1 {
	font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 200;
}

h2 {
	font-size: 2.25rem;
	font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
}

h3, .btn {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 100;
}

h4 {
    font-size: 1rem;
}

.text-skinny {
    font-size: 1.5rem;
    font-weight: 300;
}

/* COMPONENTS */
.icon {
	color: white;
	background-color: #1c86c8;
	font-size: 22px;

	height: 40px;
	width: 40px;
	border-radius: 50%;
	border: white solid 2px;

    align-items: center;
    display: inline-flex;
    justify-content: center;
	text-decoration: none;

	transition: all 0.25s ease-in-out;
}

.icon:hover {
	color: #1c86c8;
	background-color: white;

	text-decoration: none;
}

a {
	color: #1c86c8;
}

a:hover {
	color: #1c86c8;
	text-decoration: underline;
}

.footer-icons a:hover {
    text-decoration: none;
}

.btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 3px solid transparent;
    padding: 0.25rem 0;
    border-radius: 25px;
    height: 50px;
    width: 130px;
    transition: color .25s ease-in-out,background-color .25s ease-in-out,border-color .25s ease-in-out,box-shadow .25s ease-in-out;
}

.btn-long {
    width: 200px;
}

.btn-image {
    color: #fff;
    border-color: #fff;
}

.btn-dark {
    color: #151635;
    border-color: #151635;
    border-width: 2px;
}

.btn-image:hover, .btn-image:focus {
    color: #151635;
    background-color: #fff;
    box-shadow: none;
}

.btn-dark:hover, .btn-dark:focus {
    color: #151635;
    background-color: #fff;
    box-shadow: none;
}

/* BOUTIQUE ADO CSS */
/* .btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link, .update-link, .remove-item {
    cursor: pointer;
} */

/* MEDIA QUERIES */
@media (min-width: 768px) {    
    .icon {
		margin: 0px 3px;
    }
}

@media (min-width: 992px) {    
    .icon {
		margin: 0px 6px;
    }

    .btn {
        padding: 0.4rem 0;
        border-radius: 30px;
        height: 60px;
        width: 160px;
        font-size: 1.75rem;
    }

    .btn-long {
        width: 250px;
    }
}