/* Stylesheet with declarations for common elements and components used throughout site */

/* HEADINGS */
h1 {
	font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 200;
}

h2 {
	font-size: 2.25rem;
	font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
}

h3, .btn {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 100;
}

h4 {
    font-size: 1rem;
}

/* COMPONENTS */
.icon {
	color: white;
	background-color: #1c86c8;
	font-size: 22px;

	height: 40px;
	width: 40px;
	border-radius: 50%;
	border: white solid 2px;

    align-items: center;
    display: inline-flex;
    justify-content: center;
	text-decoration: none;

	transition: all 0.25s ease-in-out;
}

.icon-sm {
    font-size: 10px;

	height: 30px;
	width: 30px;
}

.icon-xsm {
    font-size: 7px;

	height: 25px;
    width: 25px;
    
    border-width: 1px;
}

.icon-black {
    color: #151635;
    border-color: #151635;
	background-color: #fff;
}

.icon:hover {
	color: #1c86c8;
	background-color: white;

	text-decoration: none;
}

a {
	color: #1c86c8;
}

a:hover {
	color: #1c86c8;
	text-decoration: underline;
}

.footer-icons a:hover {
    text-decoration: none;
}

.btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 3px solid transparent;
    padding: 0.25rem 0.4rem;
    border-radius: 25px;
    height: 50px;
    min-width: 130px;
    transition: color .25s ease-in-out,background-color .25s ease-in-out,border-color .25s ease-in-out,transform .25s ease-in-out;
}

.btn-long {
    min-width: 200px;
}

.btn:hover, .btn:focus, .btn-long:hover, .btn-long:focus {
    transform: scale(1.1);
}

.btn-image {
    color: #fff;
    border-color: #fff;
}

.btn-dark {
    color: #151635;
    border-color: #151635;
    background-color: #fff;
    border-width: 2px;
}

.btn-image:hover, .btn-image:focus, .btn-image:active {
    color: #151635;
    background-color: #fff;
    box-shadow: none;
}

.btn-dark:hover, .btn-dark:focus, .btn-dark:active {
    color: #151635;
    background-color: #fff;
    box-shadow: none;
}

.btn-sm {
    font-size: 1.25rem;
    border-width: 1px;
    height: 40px;
}

.btn-up {
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

/* SORT AND QUANTITY INPUTS */
.input-sort {
    width: 100%;
    outline: none;
    padding: 5px;
    font-size: 1.25rem;
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    border: solid 1px #151635;
}

.input-quantity {
    width: auto;
    height: 35px;
    margin: 0;
    border: solid 2px #151635;
}

.input-quantity-sm {
    height: 30px;
    border-radius: 10px;
    border: solid 1px #151635;
    font-size: 0.75rem;
}

.input-sort, .input-quantity {
    border-radius: 35px;
    text-align: center;
    background-color: #fff;    
}

.input-sort:focus, .input-quantity:focus {
    outline: none;
}

.input-group-prepend, .input-group-append, .input-quantity {
    display: inline-flex;
}

.increment-qty, .decrement-qty {
    border: none;
    background-color: rgba(0,0,0,0);
    display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* PRODUCTS */
.cover-tile {
    width: 100%;
    text-align: center;
    padding: 10px;
    position: relative;
    background-color: white;
    overflow: hidden;
}

.cover-tile-products, .sidebar-table {
    box-shadow: 1px 1px #1c86c8;
    border-radius: 25px;
}

.cover-tile-image {
    height: 325px;
}

.cover-tile-image-detail {
    height: 500px;
}

.cover-tile-image-sm {
    height: 200px;
}

/* .cover-tile-name {
    height: 100px;
    display: flex;
} */

.cover-tile-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
}

.cover-swatch {
    height: 20px;
    width: 20px;
    border: solid 1px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: all .25s ease-in-out;
}

.cover-swatch-classic-active, .cover-swatch-stylish-active, .cover-swatch-premium-active, .cover-swatch-disney-active, .cover-swatch:hover {
    transform: scale(1.25);
}

.cover-swatch-black {
    border-color: rgb(0,0,0);
    background-color: rgb(0,0,0);
}

.cover-swatch-white {
    border-color: rgb(0,0,0);
    background-color: rgb(255,255,255);
}

.cover-swatch-red {
    border-color: rgb(237, 28, 36);
    background-color: rgb(237, 28, 36);
}

.cover-swatch-orange {
    border-color: rgb(246, 140, 29);
    background-color: rgb(246, 140, 29);
}

.cover-swatch-silver {
    border-color: rgb(194, 194, 196);
    background-color: rgb(194, 194, 196);
}

.cover-swatch-blue {
    border-color: rgb(57, 94, 171);
    background-color: rgb(57, 94, 171);
}

.cover-swatch-green {
    border-color: rgb(0, 131, 127);
    background-color: rgb(0, 131, 127);
}

.cover-swatch-pink {
    border-color: rgb(236, 140, 130);
    background-color: rgb(236, 140, 130);
}

.cover-swatch-yellow {
    border-color: rgb(249, 214, 5);
    background-color: rgb(249, 214, 5);
}

.cover-swatch-bluegrey {
    border-color: rgb(74, 100, 123);
    background-color: rgb(74, 100, 123);
}

.cover-swatch-purple {
    border-color: rgb(124, 115, 181);
    background-color: rgb(124, 115, 181);
}

.cover-swatch-pinkbright {
    border-color: rgb(223, 5, 135);
    background-color: rgb(223, 5, 135);
}

.product-description {
    background-color: white;
    border-radius: 25px;
    padding: 0.75rem;
}

.product-tag {
    width: 125%;
    transform: rotate(-45deg) translate(-30%, -75%);
    line-height: 50px;
    position: absolute;
}

.product-popular {
    background-color: #1c86c8;
    color: white;
    border: #1c86c8 solid 2px;
}

.product-unavailable {
    background-color: white;
    color: #151635;
    border: #151635 solid 2px;
}

/* TABLES */
.sidebar-table {
  background-color: #fff;
  color: #151635;
  border-radius: 25px;
}

/* MEDIA QUERIES */
@media (min-width: 576px) {
    .cover-tile-name {
        height: 100px;
        display: flex;
    }
}

@media (min-width: 768px) {    
    .icon {
		margin: 0px 3px;
    }
}

@media (min-width: 992px) {    
    .icon {
		margin: 0px 6px;
    }

    .btn {
        padding: 0.4rem 0.5rem;
        border-radius: 30px;
        height: 60px;
        min-width: 160px;
        font-size: 1.75rem;
    }

    .btn-long {
        min-width: 250px;
    }

    .cover-tile-image {
        height: 450px;
    }

    .cover-swatch {
        height: 30px;
        width: 30px;
    }
}