/* Stylesheet with declarations for common elements and components used throughout site */

/* HEADINGS */
h1 {
	font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
}

h2 {
	font-size: 2.25rem;
	font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
}

h3, .btn {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
}

h4 {
    font-size: 1rem;
}

/* COMPONENTS */
/* Links */
a {
	color: #1c86c8;
}

a:hover {
	color: #1c86c8;
	text-decoration: none;
}

.footer-icons a:hover {
    text-decoration: none;
}

a.text-link:hover {
    color: #1c86c8;
    text-decoration: underline;
}

a.text-link-dark {
    color: #151635;
}

a.text-link-dark:hover {
    color: #151635;
    text-decoration: underline;
}

a.text-success:hover, a.text-success:focus {
    color: #28a745!important;
    text-decoration: underline;
}

a.text-danger:hover, a.text-danger:focus {
    color: #dc3545!important;
    text-decoration: underline;
}

/* Icons */
.icon {
	color: #fff;
	background-color: #1c86c8;
	font-size: 22px;

	height: 40px;
	width: 40px;
	border-radius: 50%;
	border: #fff solid 2px;

    align-items: center;
    display: inline-flex;
    justify-content: center;
	text-decoration: none;

	transition: all 0.25s ease-in-out;
}

.icon-sm {
    font-size: 10px;

	height: 30px;
	width: 30px;
}

.icon-xsm {
    font-size: 7px;

	height: 25px;
    width: 25px;
    
    border-width: 1px;
}

.icon:hover {
	color: #1c86c8;
	background-color: white;
    text-decoration: none;
    
    transform: scale(1.1);
}

.icon-light {
    background-color: #fff;
    border-color: #1c86c8;
    border-width: 1px;
    color: #151635;
    box-shadow: 1px 1px #1c86c8;
}

.icon-black {
    color: #151635;
    border-color: #151635;
    background-color: transparent;
}

.icon-light:hover, .icon-black:hover {
    color: #151635;
    border-color: #151635;
    background-color: #fff;
}

.icon-nav:hover {
    transform: none;
}

/* Buttons */
.btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 3px solid transparent;
    padding: 0.25rem 0.4rem;
    border-radius: 25px;
    max-height: 50px;
    min-width: 130px;
    transition: transform .25s ease-in-out;
}

.btn:hover, .btn:focus, .btn-long:hover, .btn-long:focus {
    transform: scale(1.05);
    box-shadow: none;
}

.btn-long {
    min-width: 200px;
    padding: 0.25rem 0.75rem;
}

.btn-image {
    color: #fff;
    border-color: #fff;
}

.btn-image:hover, .btn-image:focus, .btn-image:active {
    color: #fff;
    background-color: transparent;
    box-shadow: none;
}

.btn-light, .btn-light:hover, .btn-light:focus, .btn-light:active, .btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled):active:focus {
    background-color: #fff;
    border-color: #1c86c8;
    border-width: 1px;
    color: #151635;
    box-shadow: 1px 1px #1c86c8;
}

.btn-dark {
    color: #151635;
    border-color: #151635;
    border-width: 2px;
}

.btn-dark:hover, .btn-dark:focus, .btn-dark:active, .btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled):active:focus {
    color: #151635;
    background-color: transparent;
    box-shadow: none;
}

.btn-sm {
    font-size: 1.25rem;
    border-width: 1px;
}

.btn-up {
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    background-color: #fff;
}

/* Lines */
hr {
    width: 33%;
    margin: 0 auto;
    border-color: #151635;
}

/* SORT AND QUANTITY INPUTS */
.input-sort {
    width: 100%;
    outline: none;
    padding: 5px;
    font-size: 1.25rem;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    border: solid 1px #151635;
    background-color: #fff;
}

.input-quantity {
    width: auto;
    height: 35px;
    margin: 0;
    border: solid 1px #151635;
    background-color: #fff;
}

.input-quantity-sm {
    height: 30px;
    border-radius: 10px;
    font-size: 0.75rem;
}

.input-sort, .input-quantity {
    border-radius: 35px;
    text-align: center;    
}

.input-sort:focus, .input-quantity:focus {
    outline: none;
}

.input-group-prepend, .input-group-append, .input-quantity {
    display: inline-flex;
}

.increment-qty, .decrement-qty, .increment-qty_sb, .decrement-qty_sb {
    border: none;
    background-color: rgba(0,0,0,0);
    display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.update-link, .remove-item {
    cursor: pointer;
}

/* PRODUCTS */
.cover-tile {
    width: 100%;
    text-align: center;
    padding: 10px;
    position: relative;
    background-color: #fff;
    overflow: hidden;
}

.cover-tile-detail {
    border-radius: 25px;
}

.cover-tile-products, .sidebar-table {
    box-shadow: 1px 1px #1c86c8;
    border: 1px solid #1c86c8;
    border-radius: 25px;
}

.cover-tile-products {
    transition: transform .25s ease-in-out;
}

.cover-tile-products:hover {
    transform: scale(1.025);
    text-transform: none;
}

.cover-tile-image, .cover-tile-image-container {
    height: 325px;
}

.cover-tile-image-container {
    width: 100%;
}

.cover-tile-image-detail {
    height: 400px;
}

.cover-tile-image-sm {
    height: 200px;
}

.cover-tile-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
}

.cover-swatch {
    height: 20px;
    width: 20px;
    border: solid 1px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: all .25s ease-in-out;
}

.cover-swatch-classic-active, .cover-swatch-stylish-active, .cover-swatch-premium-active, .cover-swatch-disney-active, .cover-swatch:hover {
    transform: scale(1.25);
}

.product-description {
    background-color: #fff;
    border-radius: 25px;
    padding: 0.75rem;
}

.product-tag {
    width: 125%;
    transform: rotate(-45deg) translate(-30%, -75%);
    line-height: 50px;
    position: absolute;
}

.product-popular {
    background-color: #1c86c8;
    color: white;
    border: #1c86c8 solid 2px;
}

.product-unavailable {
    background-color: white;
    color: #151635;
    border: #151635 solid 2px;
}

/* TABLES */
.sidebar-table {
  background-color: #fff;
  color: #151635;
  border-radius: 25px;
}

/* Modals */
.card {
    box-shadow: 1px 1px #1c86c8;
    border: 1px solid #1c86c8;
    border-radius: 25px;
}

.card-header, .card-header:first-child {
    padding: .15rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border: none;
    border-radius: 25px;
}

.card>hr {
    margin: 0 auto;
    width: 100%;
    border-color: #1c86c8;
}

.modal-filters {
	position: fixed;
	top: 10vh;
	left: 0;
	z-index: 3;
	width: 100%;
	height: 100%;
	overflow: hidden;
    outline: 0;
}

.modal-content {
	color: #151635;
    background-color: #f0f3f4;
    border: 2px #151635 solid;
    height: 80vh;
    overflow: scroll;
    position: relative;
}

.modal-body .modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
}

/* Checkboxes https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_radio */
/* The container */
.container-radio {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  text-align: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.form-check-checkmark {
    position: absolute;
    top: 2px;
    left: -10px;
    height: 20px;
    width: 20px;
    background-color: #ccc;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .form-check-checkmark {
  background-color: #1c86c8;
  transform: scale(1.1);
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .form-check-checkmark {
  background-color: #1c86c8;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.form-check-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .form-check-checkmark:after {
  display: none;
}

/* MEDIA QUERIES */
@media (min-width: 576px) {
    .cover-tile-name {
        height: 75px;
        display: flex;
    }
}

@media (min-width: 768px) {    
    .icon {
		margin: 0px 3px;
    }
}

@media (min-width: 992px) {    
    .icon {
		margin: 0px 6px;
    }

    .btn {
        padding: 0.4rem 0.5rem;
        border-radius: 30px;
        max-height: 60px;
        min-width: 160px;
        font-size: 1.75rem;
    }

    .btn-sm {
        font-size: 1.25rem;
        border-width: 1px;
        max-height: 40px;
    }

    .btn-long {
        min-width: 250px;
    }

    .cover-tile-image, .cover-tile-image-container {
        height: 450px;
    }

    .cover-swatch {
        height: 30px;
        width: 30px;
    }
}

@media (min-width: 1200px) {    
    .cover-tile-name {
        height: 100px;
    }
}