/* Stylesheet with declarations for general styles used throughout site */

/* STYLES */
.black-border {
	border: solid 2px black;
}

.show {
    display: block;
}

.hide {
    display: none;
}

/* BACKGROUNDS */
.bg-lightgrey {
    background-color: #f8f9fa;
}


/* MEDIA QUERIES */
@media (min-width: 768px) {
    .img-mirror-md {
        transform: scaleX(-1);
    }
}