/* Stylesheet with declarations for general styles used throughout site */

/* STYLES */
.black-border {
	border: solid 2px black;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.text-skinny {
    font-size: 1.5rem;
    font-weight: 300;
}

.text-thick {
    font-size: 1.65rem;
    font-weight: 500!important;
}

/* BACKGROUNDS */
.bg-lightgrey {
    background-color: #f8f9fa;
}

.bg-lightblue {
    background-color: #e3ecf2;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
    .img-mirror-md {
        transform: scaleX(-1);
    }

    .text-thick {
        font-size: 1.35rem;
    }
}

@media (min-width: 992px) {
    .text-thick {
        font-size: 1.65rem;
    }
}