<!-- Styling for image file picker -->
<div class="row m-0 p-0">
    <div class="col-12">
        <div class="cover-tile cover-tile-products mx-auto">
            <!-- If widget has image loaded, show image -->
            {% if widget.is_initial %}
                <a href="{{ widget.value.url }}" class="cover-tile-image-container">
                    <img class="cover-tile-image" src="{{ widget.value.url }}">
                </a>
            <!-- If widget has no image loaded, show no-image.png -->
            {% else %}
                <a href="https://ob-covers-bucket.s3.eu-west-2.amazonaws.com/media/no-image.png" class="cover-tile-image-container">
                    <img class="cover-tile-image" src="https://ob-covers-bucket.s3.eu-west-2.amazonaws.com/media/no-image.png">
                </a>
            {% endif %}
        </div>
    </div>
    <div class="col-12">
            <span class="text-thick">{{ widget.initial_text }}</span>
            <br>
        {% if widget.is_initial %}
            <span>{{ widget.value.url }}</span>
        {% else %}
            <span>No image selected</span>
        {% endif %}
        <span class="d-none" id="filename"></span>
        <h3 class="pt-2">
            <label class="text-success btn-file m-0" for="new-image">
                Update
                <input id="new-image" type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
            </label>
            {% if widget.is_initial %}
            <label class="text-danger btn-file-remove m-0" for="remove-image">
                <span class="text-dark">|</span> Remove
                <input id="remove-image" class="form-check-input" type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}">
            </label>
            {% endif %}
        </h3>
    </div>
</div>