<footer>
    <div class="row row-footer">
        <div class="col">
            <img id="logo-footer" src="{{ MEDIA_URL }}notproducts/logo-white.png" alt="OB logo" />
        </div>
    </div>
    <div class="row">
        <div class="col footer-icons">
            <a target="_blank" href="https://www.facebook.com/openbionicsltd/">
                <i class="fab fa-facebook-f icon icon-nav" aria-hidden="true"></i>
                <span class="sr-only">Facebook</span>
            </a>
            <a target="_blank" href="https://www.instagram.com/openbionics/?hl=en">
                <i class="fab fa-instagram icon icon-nav" aria-hidden="true"></i>
                <span class="sr-only">Instagram</span>
            </a>
            <a target="_blank" href="https://twitter.com/openbionics?lang=en">
                <i class="fab fa-twitter icon icon-nav" aria-hidden="true"></i>
                <span class="sr-only">Twitter</span>
            </a>
            <a target="_blank" href="https://www.tiktok.com/@openbionics?">
                <i class="fab fa-tiktok icon icon-nav" aria-hidden="true"></i>
                <span class="sr-only">Tiktok</span>
            </a>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <h4>© 2021. Zoe Thexton MS4</h4>
        </div>
    </div>
</footer>