<nav class="fixed-top">
    <div class="navbar navbar-top">
        <!-- OB brand -->
        <a href="{% url 'home' %}">
            <img class="d-none d-sm-block" id="logo-nav" src="{{ MEDIA_URL }}logo-white.png" alt="OB logo" />
            <img class="d-sm-none" id="logo-nav-circle" src="{{ MEDIA_URL }}logo-blue-circle.png" alt="OB logo" />
        </a>
        <!-- Search bar -->
        <form class="navbar-search d-none d-sm-block" method="GET" action="{% url 'products' %}">
            <input type="text" name="q" placeholder="Search" aria-label="Search">
            <button class="navbar-icon-search" type="submit">
                <span><i class="fas fa-search"></i></span>
            </button>
        </form>
        <!-- Profile, favourite, basket, nav icons -->
        <div class="justify-content-end">
            <button class="icon icon-nav" type="button" onclick="openProfileDropdown()">
                <span><i class="fas fa-user"></i></span>
            </button>
            <div class="nav-profile-dropdown-menu" id="nav-profile-dropdown-menu">
                {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                <a href="{% url 'add_product' %}" class="nav-profile-dropdown-item">Product Management</a>
                {% endif %}
                <a href="{% url 'profile' %}" class="nav-profile-dropdown-item">My Profile</a>
                <a href="{% url 'account_logout' %}" class="nav-profile-dropdown-item">Logout</a>
                {% else %}
                <a href="{% url 'account_signup' %}" class="nav-profile-dropdown-item">Register</a>
                <a href="{% url 'account_login' %}" class="nav-profile-dropdown-item">Login</a>
                {% endif %}
            </div>
            <button class="icon icon-nav" type="button" onclick="openSidebarFav()">
                <span><i class="fas fa-heart"></i></span>
            </button>
            <button class="icon icon-nav" type="button" onclick="openSidebarBasket()">
                <span><i class="fas fa-shopping-basket"></i></span>
            </button>
            <button class="icon icon-nav d-sm-none" type="button" onclick="openSidebarNav()">
                <span><i class="fas fa-bars"></i></span>
            </button>
        </div>
    </div>
    <!-- Mobile navigation sidebar -->
    {% include 'includes/sidebar-mobilenav.html' %}
    <!-- Second row of navbar -->
    <div class="navbar navbar-bottom d-none d-sm-block">
        <!-- Nav links in navbar -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'products' %}">All Covers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'products' %}?range=classic">Classic</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'products' %}?range=stylish">Stylish</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'products' %}?range=premium">Premium</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'products' %}?range=disney">Disney</a>
            </li>
        </ul>
    </div>
</nav>