<div class="sidebar" id="sidebar-fav">
    <!-- Wish list sidebar header -->
    <button class="icon icon-black sidebar-close" onclick="closeSidebar()">
        <span><i class="fas fa-times"></i></span>
    </button>
    <h2 class="p-2">Wish list</h2>
    <hr>
    <h3 class="mb-0 p-2">{{ product_count_fav }} items</h3>
    <hr>
    <!-- If there are items in the wish list, display them in table -->
    {% if fav_items %}
    <div class="row pt-0">
        <div class="col">
            {% for item in fav_items %}
            <div class="sidebar-table m-2">
                <table class="mx-auto">
                    <tr>
                        <th rowspan="6">
                            {% if item.product.image %}
                            <img class="cover-tile-image-sm pr-2" src="{{ item.product.image_url }}"
                                alt="{{ item.product.name }}">
                            {% else %}
                            <img class="cover-tile-image-sm pr-2" src="{{ MEDIA_URL }}noimage.png"
                                alt="{{ item.product.name }}">
                            {% endif %}
                        </th>
                    </tr>
                    <tr>
                        <td class="sidebar-product-text sidebar-product-title pt-2">
                            <span>{{ item.product.name }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="sidebar-product-text">
                            <span>£{{ item.product.price }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="sidebar-product-text">
                            <span>Also available in:
                                {% if item.product.range|lower == "classic" %}
                                {% include 'includes/coverswatches/coverswatch_classic.html' %}
                                {% elif item.product.range|lower == "stylish" %}
                                {% include 'includes/coverswatches/coverswatch_stylish.html' %}
                                {% elif item.product.range|lower == "premium" %}
                                {% include 'includes/coverswatches/coverswatch_premium.html' %}
                                {% elif item.product.range|lower == "disney" %}
                                {% include 'includes/coverswatches/coverswatch_disney.html' %}
                                {% endif %}
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="sidebar-product-text">
                            <span>
                                {% if item.product.range|lower == "classic" %}
                                <a class="text-success" href="{% url 'products' %}?range=classic">Browse</a> |
                                {% elif item.product.range|lower == "stylish" %}
                                <a class="text-success" href="{% url 'products' %}?range=stylish">Browse</a> |
                                {% elif item.product.range|lower == "premium" %}
                                <a class="text-success" href="{% url 'products' %}?range=premium">Browse</a> |
                                {% elif item.product.range|lower == "disney" %}
                                <a class="text-success" href="{% url 'products' %}?range=disney">Browse</a> |
                                {% endif %}
                                <a class="remove-item text-danger" id="remove_{{ item.item_id }}">Remove</a>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="sidebar-product-text pb-2">
                            <a class="favtobag-item btn btn-dark btn-sm my-2" id="favtobag_{{ item.item_id }}"
                                role="button">Add to basket</a>
                        </td>
                    </tr>
                </table>
            </div>
            {% endfor %}
            <a class="btn btn-light mt-0 mb-2" href="{% url 'products' %}" role="button">Keep shopping <i
                    class="fas fa-shopping-basket"></i></a>
        </div>
    </div>
    <!-- If there are no items in wish list, display empty message -->
    {% else %}
    <div class="row pt-0">
        <div class="col">
            <h3 class="mt-2 mb-0 p-2 bg-white">Your wish list is empty</h3>
            <a class="btn btn-light my-2" href="{% url 'products' %}" role="button">Keep shopping <i
                    class="fas fa-shopping-basket"></i></a>
        </div>
    </div>
    {% endif %}
</div>

{% block postloadjs %}
<script type="text/javascript">
    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/removefav/${itemId}/`;
        var data = { 'csrfmiddlewaretoken': csrfToken };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })

    // Remove item from wish list, add to bag and reload on click
    $('.favtobag-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('favtobag_')[1];
        var url = `/favtobag/${itemId}/`;
        var data = { 'csrfmiddlewaretoken': csrfToken };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}