<!-- Mobile navigation sidebar -->
<div class="sidebar sidebar-nav" id="sidebar-nav">
    <button class="icon sidebar-close" onclick="closeSidebar()">
        <span><i class="fas fa-times"></i></span>
    </button>
    <!-- Nav links in sidebar -->
    <ul class="navbar-nav-sidebar">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'products' %}">All Covers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'products' %}?range=classic">Classic</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'products' %}?range=stylish">Stylish</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'products' %}?range=premium">Premium</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'products' %}?range=disney">Disney</a>
        </li>
    </ul>
    <!-- Search bar in sidebar -->
    <form class="navbar-search navbar-search-sidebar d-sm-none" method="GET" action="{% url 'products' %}">
        <input type="text" name="q" placeholder="Search" aria-label="Search">
        <button class="navbar-icon-search" type="submit">
            <span><i class="fas fa-search"></i></span>
        </button>
    </form>
</div>