{% if product_swatch.style.name == "metalGearSolid" %}
    <div class="cover-swatch cover-swatch-fav" style="background-color: #000000;border: #ad2b26 3px solid;"></div>
    <div class="d-none" id="productdetail-range">{{ product_swatch.range }}</div>
    <div class="d-none" id="productdetail-bgcolour">#a9a9a9</div>
{% elif product_swatch.style.name == "deusEx" %}
    <div class="cover-swatch cover-swatch-detail" style="background-color: #000000;border: #f1c434 3px solid;"></div>
    <div class="d-none" id="productdetail-range">{{ product_swatch.range }}</div>
    <div class="d-none" id="productdetail-bgcolour">#a9a9a9</div>
{% elif product_swatch.style.name == "ironMan" %}
    <div class="cover-swatch cover-swatch-fav" style="background-color: #a31313;border: #f1c434 3px solid;"></div>
    <div class="d-none" id="productdetail-range">{{ product_swatch.range }}</div>
    <div class="d-none" id="productdetail-bgcolour">#ee5e5e</div>
{% elif product_swatch.style.name == "bb8" %}
    <div class="cover-swatch cover-swatch-fav" style="background-color: #ffffff;border: #ff841f 3px solid;"></div>
    <div class="d-none" id="productdetail-range">{{ product_swatch.range }}</div>
    <div class="d-none" id="productdetail-bgcolour">#ffd06a</div>
{% elif product_swatch.style.name == "frozen" %}
    <div class="cover-swatch cover-swatch-fav" style="background-color: #8ed1eb;border: #ffffff 3px solid;"></div>
    <div class="d-none" id="productdetail-range">{{ product_swatch.range }}</div>
    <div class="d-none" id="productdetail-bgcolour">#d9ffff</div>
{% elif product_swatch.style.name == "r2d2" %}
    <div class="cover-swatch cover-swatch-fav" style="background-color: #ffffff;border: #2222e2 3px solid;"></div>
    <div class="d-none" id="productdetail-range">{{ product_swatch.range }}</div>
    <div class="d-none" id="productdetail-bgcolour">#6d9eff</div>
{% else %}
    <div class="cover-swatch cover-swatch-fav" style="background-color: {{product_swatch.colour.hex_colour}};border: {{product_swatch.colour.hex_border}} 1px solid;"></div>
{% endif %}