<!-- Classic range cover swatch -->
<div>
    <div class="cover-swatch cover-swatch-black" id="cover-swatch-classic-regenerate-black"></div>
    <div class="cover-swatch cover-swatch-white" id="cover-swatch-classic-regenerate-white"></div>
    <div class="cover-swatch cover-swatch-red" id="cover-swatch-classic-regenerate-red"></div>
    <div class="cover-swatch cover-swatch-orange" id="cover-swatch-classic-regenerate-orange"></div>
    <div class="cover-swatch cover-swatch-silver" id="cover-swatch-classic-regenerate-silver"></div>
    <div class="cover-swatch cover-swatch-blue" id="cover-swatch-classic-regenerate-blue"></div>
    <div class="cover-swatch cover-swatch-green" id="cover-swatch-classic-spectrum-green"></div>
    <div class="cover-swatch cover-swatch-pink" id="cover-swatch-classic-spectrum-pink"></div>
    <div class="cover-swatch cover-swatch-yellow" id="cover-swatch-classic-spectrum-yellow"></div>
    <div class="cover-swatch cover-swatch-bluegrey" id="cover-swatch-classic-spectrum-bluegrey"></div>
    <div class="cover-swatch cover-swatch-purple" id="cover-swatch-classic-spectrum-purple"></div>
    <div class="cover-swatch cover-swatch-pinkbright" id="cover-swatch-classic-spectrum-pinkbright"></div>
</div>