<!-- Interactive cover swatches -->
<script>
    // jshint esversion: 6
    $(document).ready(function () {
        $(".cover-swatch").click(function () {
            var coverRange = this.id.split('-')[2];
            var coverStyle = this.id.split('-')[3].toLowerCase();
            var coverColour = this.id.split('-')[4];
            var coverColourBg = $(`#cover-swatch-${coverRange}-${coverStyle}-${coverColour}-background`).text();
            var imageSrc = `{{ MEDIA_URL }}${coverRange}-${coverStyle}-${coverColour}.png`;

            // Remove 'active' class from swatch
            $(".cover-swatch").removeClass(`cover-swatch-${coverRange}-active`);
            // Add active class to clicked element
            $(this).addClass(`cover-swatch-${coverRange}-active`);
            // Set image source to correct colour and style
            $(`.cover-tile-image-${coverRange}`).attr("src", imageSrc);
            // Set background colour to correct colour after image has loaded
            $(`.cover-tile-image-${coverRange}`).on("load", function () {
                $(`.cover-tile-bg-${coverRange}`).css("backgroundColor", coverColourBg);
            });
        });
    });
</script>