{% extends "base.html" %}

{% load static %}
{% load bag_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/allauth.css' %}">
{% endblock %}

{% block content %}
    <section class="container-fluid container-hero">
        <div id="allauth-hero-image-1">
            <span class="sr-only"></span>
        </div>
        <div class="hero-image-overlay allauth-form-inner-content">
            {% block inner_content %}
            {% endblock %}
        </div>
    </section>
{% endblock %}