{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/index.css' %}">
{% endblock %}

{% load i18n %}

{% block content %}
<section class="container-fluid container-hero">
    <div id="home-hero-image-1">
        <span class="sr-only"></span>
    </div>
    <div class="hero-image-overlay">
        <div class="hero-image-overlay-text hero-image-overlay-text-left">
            <div class="row">
                <div class="col">
                    <img id="logo-home" src="{{ MEDIA_URL }}logo-white.png"
                    alt="White Open Bionics logo" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <form class="login" method="POST" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <a href="{% url 'account_reset_password' %}">Forgot password?</a>
                        <button type="submit">Sign In</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="{{ signup_url }}">sign up</a> first.
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
