{% extends "account/base.html" %}

{% block extra_title %} | Change Password{% endblock %}

{% load i18n %}

{% block inner_content %}
<div class="row py-0 mb-0 allauth-results-container">
    <div class="col-11 col-sm-7 mx-auto allauth-results">
        <hr class="mt-4 mb-2">
        <h2 class="mb-2">Change password</h2>
        <hr class="mt-2 mb-4">
        <form method="post" action="{% url 'account_change_password' %}"
            class="password_change allauth-form-inner-content">
            {% csrf_token %}
            {% for field in form %}
            {{ field | as_crispy_field }}
            {% endfor %}
            <button class="btn btn-dark mt-4 mb-2" type="submit" name="action">Change</button>
            <br>
            <a class="text-dark" href="{% url 'account_reset_password' %}">Forgot password?</a>
        </form>
    </div>
</div>
{% endblock %}