{% extends "account/base.html" %}

{% block extra_title %} | Set Password{% endblock %}

{% load i18n %}

{% block inner_content %}
<div class="row py-0 mb-0 allauth-results-container">
    <div class="col-11 col-sm-7 mx-auto allauth-results">
        <hr class="mt-4 mb-2">
        <h2>Set password</h2>
        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-dark m-2" type="submit" name="action" value="{% trans 'Set Password' %}" />
        </form>
        <hr class="mt-2 mb-4">
    </div>
</div>
{% endblock %}