<!-- Done -->
{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block inner_content %}
    <div class="row py-0 mb-0 allauth-results-container">
        <div class="col-11 col-sm-7 mx-auto allauth-results">
            <h2 class="mb-2">Password reset</h2>
            <span class="text-md text-skinny">Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it</span>
            <form method="post" action="{% url 'account_reset_password' %}" class="password_reset allauth-form-inner-content mt-2">
                {% csrf_token %}
                {% for field in form %}
                    {{ field | as_crispy_field }}
                {% endfor %}
                <input class="btn btn-dark m-2" type="submit" value="{% trans 'Reset' %}">
            </form>
        </div>
    </div>
{% endblock %}