{% extends "account/base.html" %}

{% load i18n %}

{% block inner_content %}
    <div class="row py-0 mb-0 allauth-results-container">
        <div class="col-11 col-sm-7 mx-auto allauth-results">
            <hr class="mt-4 mb-2">
            <h2>Change password</h2>
            <form method="post" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-image m-2" type="submit" name="action">Change password</button>
                <a href="{% url 'account_reset_password' %}">Forgot password?</a>
            </form>
            <hr class="mt-2 mb-4">
        </div>
    </div>
{% endblock %}