{% extends "account/base.html" %}

{% block extra_title %} | Reset Password{% endblock %}

{% load i18n %}

{% block inner_content %}
<div class="row py-0 mb-0 allauth-results-container allauth-form-inner-content">
    <div class="col-11 col-sm-7 mx-auto allauth-results">
        <hr class="mt-4 mb-2">
        <h2 class="text-dark">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>
        {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <span class="text-md text-skinny text-dark">The password reset link was invalid, possibly because it has already been
            used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.</span>
        {% else %}
        {% if form %}
        <form method="POST" action="{{ action_url }}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="action" value="{% trans 'change password' %}" class="btn btn-dark m-2" />
        </form>
        {% else %}
        <span class="text-md text-skinny">{% trans 'Your password is now changed.' %}</span>
        {% endif %}
        {% endif %}
        <hr class="mt-2 mb-4">
    </div>
</div>
{% endblock %}