{% extends "account/base.html" %}

{% block extra_title %} | Verify Email{% endblock %}

{% load i18n %}

{% block inner_content %}
    <div class="row py-0 mb-0 allauth-results-container">
        <div class="col-11 col-sm-7 mx-auto allauth-results">
            <hr class="mt-4 mb-2">
            <h2>Verify your email</h2>
            <span class="text-md text-skinny">This part of the site requires us to verify that you are who you claim to be. For this purpose, we require that you verify ownership of your e-mail address.</span><br>
            <span class="text-md text-skinny">We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.</span><br>
            <span class="text-md text-skinny">You can still <a href="{{ email_url }}">change your e-mail address</a>.</span>
            <hr class="mt-2 mb-4">
        </div>
    </div>
{% endblock %}
