{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}
    <section class="container-fluid bg-lightblue">
        <div class="row py-0 mb-0 errorpage-results-container">
            <div class="col-11 col-sm-7 mx-auto errorpage-results">
                <hr class="mt-4 mb-2">
                <h2>500 Error</h2>
                <span class="text-md text-skinny">Oops, looks like that page is unavailable!</span>
                <hr class="mt-2 mb-4">
            </div>
        </div>
    </section>
{% endblock %}