/* .stripe-style-input {

} */

select,
select option {
    color: #151635;
}

select:invalid,
select option[value=""] {
    color: #ccc !important;
}

.orderhistory-confirm-table:hover {
    transform: none;
    text-transform: uppercase;
}