/* Stylesheet for elements specific to the checkout page */

select,
select option {
	color: #151635;
}

select:invalid,
select option[value=""] {
	color: #ccc !important;
}

.orderhistory-confirm-table:hover {
	transform: none;
	text-transform: uppercase;
}

input.stripe-style-input::placeholder {
	color: #ccc;
	text-transform: capitalize;
}

/* Loading spinner taken from Boutique Ado, Code Institute */
#loading-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	background: rgba(28, 134, 200, .85);
	z-index: 9999;
}

.loading-spinner {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	height: 100%;
	color: #fff;
}