<!-- Looking for the Hero Arm? -->
<section class="container-fluid container-hero">
    <!-- Background hero image -->
    <div id="home-hero-image-3">
        <span class="sr-only"></span>
    </div>
    <!-- Foreground text -->
    <div class="hero-image-overlay">
        <div class="hero-image-overlay-text hero-image-overlay-text-left">
            <!-- Descriptive text -->
            <div class="row pb-md-0">
                <div class="col-11 mx-auto">
                    <h2 class="text-xl">Looking for the Hero Arm?</h2>
                </div>
            </div>
            <div class="row d-none d-md-block pt-0">
                <div class="col-10 mx-auto">
                    <span class="text-skinny text-lg">Before buying a bionic arm, we first need to pair you with a prosthetic clinic. Star Wars BB-8, Marvel Iron Man and Frozen Covers are now available with every Hero Arm.</span>
                </div>
            </div>
            <!-- Open Bionics link -->
            <div class="row pt-1 pb-3">
                <div class="col mx-auto">
                    <a class="btn btn-long btn-image d-sm-none" target="_blank" href="https://openbionics.com/sign-up/" role="button">Shop Hero Arm</a>
                    <a class="btn btn-long btn-image d-none d-sm-inline-block" target="_blank" href="https://openbionics.com/sign-up/" role="button">Start your journey today</a>
                </div>
            </div>
        </div>
    </div>
</section>