<!-- Onload animation -->
<script>
// On load fade text, logo and buttons on to hero image if user hasn't visited page
    onload = function session() {
        if (document.cookie.indexOf("visited_home") >= 0) {
            animationSecond();
        } else {
            document.cookie = "visited_home";
            animationFirst();
        }
    };

    function swatchClick() {
        // 'Click' different cover swatches to trigger background
        setTimeout(function () {
            $(".cover-swatch-classic").trigger('click');
        }, 50);
        setTimeout(function () {
            $(".cover-swatch-stylish").trigger('click');
        }, 100);
        setTimeout(function () {
            $(".cover-swatch-premium").trigger('click');
        }, 150);
        setTimeout(function () {
            $(".cover-swatch-disney").trigger('click');
        }, 200);
    }
</script>