<section class="container-fluid">
    <div class="row pt-3 pb-0 d-lg-none">
        <div class="col mx-auto ">
            <h2>Looking for the Hero Arm?</h2>
        </div>
    </div>
    <div class="row p-2 d-lg-none">
        <div class="col col-sm-9 col-md-8 mx-auto ">
            <span class="text-skinny text-md">Before buying a bionic arm, we first need to pair you with a prosthetic clinic. Star Wars BB-8, Marvel Iron Man and Frozen Covers are now available with every Hero Arm.</span>
        </div>
    </div>
    <div class="row pt-1 pb-3 d-lg-none">
        <div class="col mx-auto">
            <a class="btn btn-long btn-dark d-sm-none" target="_blank" href="https://openbionics.com/sign-up/" role="button">Shop Hero Arm</a>
            <a class="btn btn-long btn-dark d-none d-sm-inline-block" target="_blank" href="https://openbionics.com/sign-up/" role="button">Start your journey today</a>
        </div>
    </div>
    <div class="container-hero">
        <div id="home-hero-image-3">
            <span class="sr-only"></span>
        </div>
        <div class="hero-image-overlay">
            <div class="hero-image-overlay-text hero-image-overlay-text-left">
                <div class="row d-none d-lg-block">
                    <div class="col mx-auto">
                        <h2>Looking for the Hero Arm?</h2>
                    </div>
                </div>
                <div class="row d-none d-lg-block">
                    <div class="col-10 mx-auto">
                        <span class="text-skinny text-lg">Before buying a bionic arm, we first need to pair you with a prosthetic clinic. Star Wars BB-8, Marvel Iron Man and Frozen Covers are now available with every Hero Arm.</span>
                    </div>
                </div>
                <div class="row d-none d-lg-block">
                    <div class="col p-0">
                        <a class="btn btn-long btn-image" target="_blank" href="https://openbionics.com/sign-up/" role="button">Start your journey today</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>