<!-- Onload animation: fade in text on hero image and trigger backgrounds on cover swatches -->
<script>
    // On load fade text, logo and buttons on to hero image if user hasn't visited page
    onload = function session() {
        if (document.cookie.indexOf("visited_home") >= 0) {
            animationSecond();
        } else {
            document.cookie = "visited_home";
            animationFirst();
        }
    };

    function swatchClick() {
        // 'Click' different cover swatches to trigger background
        setTimeout(function () {
            $(".cover-swatch-classic").trigger('click');
        }, 50);
        setTimeout(function () {
            $(".cover-swatch-stylish").trigger('click');
        }, 100);
        setTimeout(function () {
            $(".cover-swatch-premium").trigger('click');
        }, 150);
        setTimeout(function () {
            $(".cover-swatch-disney").trigger('click');
        }, 200);
    }

    function animationFirst() {
        // Load at top of page
        $(window).on('beforeunload', function () {
            $('body').hide();
            $(window).scrollTop(0);
        });
        // Scroll past banner mesages
        var bannerD = $('.banner-messages').outerHeight();
        window.scroll({
            top: bannerD,
            behavior: 'smooth'
        });
        swatchClick();
        // Trigger animation
        if (window.innerWidth < 992) {
            setTimeout(function () {
                $("#home-heading-1").fadeIn(1000).css("display", "inline-block");
            }, 1000);
            setTimeout(function () {
                $("#home-heading-1").fadeOut(1000);
            }, 3000);
            setTimeout(function () {
                $("#home-heading-2").fadeIn(1000).css("display", "inline-block");
            }, 4000);
            setTimeout(function () {
                $("#home-heading-2").fadeOut(1000);
            }, 6000);
            setTimeout(function () {
                $("#home-heading-logo").fadeIn(1000).css("display", "inline-block");
                $("#home-heading-buttons").fadeIn(1000).css("display", "inline-block");
            }, 7000);
        } else {
            $("#home-heading-1").css({
                "opacity": "0",
                "display": "inline-block"
            });
            $("#home-heading-2").css({
                "opacity": "0",
                "display": "inline-block"
            });
            $("#home-heading-logo").css({
                "opacity": "0",
                "display": "inline-block"
            });
            $("#home-heading-buttons").css({
                "opacity": "0",
                "display": "inline-block"
            });
            setTimeout(function () {
                $("#home-heading-1").fadeTo(1000, 1);
            }, 1000);
            setTimeout(function () {
                $("#home-heading-2").fadeTo(1000, 1);
            }, 3000);
            setTimeout(function () {
                $("#home-heading-logo").fadeTo(1000, 1);
                $("#home-heading-buttons").fadeTo(1000, 1);
            }, 5000);
        }
    }

    function animationSecond() {
        swatchClick();
        $("#home-heading-logo").css({
            "display": "inline-block"
        });
        $("#home-heading-buttons").css({
            "display": "inline-block"
        });
    }
</script>