<script type="text/javascript">
// On load fade text, logo and buttons on to hero image
    onload = function () {
        // Load at top of page
        $(window).on('beforeunload', function() {
            $('body').hide();
            $(window).scrollTop(0);
        });

        // 'Click' different cover swatches to trigger background
        setTimeout(function() {
            $("#cover-swatch-classic-regenerate-blue").trigger('click');
        }, 250);
        setTimeout(function() {
            $("#cover-swatch-stylish-azdeco-orange").trigger('click');
        }, 350);
        setTimeout(function() {
            $("#cover-swatch-premium-deusex-black").trigger('click');
        }, 450);
        setTimeout(function() {
            $("#cover-swatch-disney-r2d2-white").trigger('click');
        }, 550);

        // Scroll past banner mesages
        let bannerD = $('.banner-messages').outerHeight();
        window.scroll({
            top: bannerD,
            behavior: 'smooth'
        });

        // Trigger animation
        if (window.innerWidth < 992) {
            $("#home-heading-1").fadeIn(1000).css("display","inline-block");
            setTimeout(function () {
                $("#home-heading-1").fadeOut(1000);
            }, 2500);
            setTimeout(function () {
                $("#home-heading-2").fadeIn(1000).css("display","inline-block");
            }, 3500);
            setTimeout(function () {
                $("#home-heading-2").fadeOut(1000);
            }, 6000);
            setTimeout(function () {
                $("#home-heading-logo").fadeIn(1000).css("display","inline-block");
                $("#home-heading-buttons").fadeIn(1000).css("display","inline-block");
            }, 7000);
        }

        else {
            $("#home-heading-1").css({"opacity": "0", "display": "inline-block"});
            $("#home-heading-2").css({"opacity": "0", "display": "inline-block"});
            $("#home-heading-logo").css({"opacity": "0", "display": "inline-block"});
            $("#home-heading-buttons").css({"opacity": "0", "display": "inline-block"});
            setTimeout(function () {
                $("#home-heading-1").fadeTo(1000, 1);
            }, 500);
            setTimeout(function () {
                $("#home-heading-2").fadeTo(1000, 1);
            }, 3000);
            setTimeout(function () {
                $("#home-heading-logo").fadeTo(1000, 1);
                $("#home-heading-buttons").fadeTo(1000, 1);
            }, 5500);
        }
    };
</script>