{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}
    <div class="container-fluid">
        <div class="row bg-white">
            <div class="col">
                <h2 class="pb-2">Product Management</h2>
                <hr>
                <h3 class="p-2">Add a Product</h3>
                <hr>
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-11 mx-auto">
                <form method="POST" action="{% url 'add_product' %}" class="form text-skinny text-md" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div>
                        <button class="btn btn-dark btn-long mx-2" type="submit">Add Product</button>
                        <a class="btn btn-dark btn-long mx-2" href="{% url 'products' %}" role="button">Cancel</a>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}