{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_title %} | Edit Product{% endblock %}

{% block content %}
<header class="container-fluid">
    <div class="row bg-white">
        <div class="col">
            <h2 class="pb-2">Product Management</h2>
            <hr class="hr-short">
            <h3 class="p-2">Edit a Product</h3>
            <hr class="hr-short">
        </div>
    </div>
</header>
<!-- Edit product form -->
<section class="container-compress">
    <form method="POST" action="{% url 'edit_product' product.id %}" class="text-skinny text-md" enctype="multipart/form-data">
        <div class="row pb-0">
            <div class="col-11 col-sm-6 col-md-5 mx-auto">
                {% csrf_token %}
                {% for field in form %}
                {% if field.name != 'unavailable' %}
                {{ field | as_crispy_field }}
                {% else %}
                <div class="form-group">
                    <div id="div_id_unavailable" class="form-check">
                        <label for="id_unavailable" class="form-check-label form-check-label-available container-radio text-skinny mx-auto pl-4">
                            {% if product.unavailable == True %}
                            <input type="checkbox" name="unavailable" class="checkboxinput form-check-input" id="id_unavailable" checked>
                            {% else %}
                            <input type="checkbox" name="unavailable" class="checkboxinput form-check-input" id="id_unavailable">
                            {% endif %}
                            <span class="form-check-checkmark"></span>
                            Unavailable
                        </label>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row pt-0">
            <div class="col-12 pt-0 pb-2">
                <button class="btn btn-light btn-long" type="submit">Update Product</button>
            </div>
            <div class="col-12 pt-2 pb-2">
                <a class="btn btn-light btn-long" href="{% url 'products' %}" role="button">Cancel</a>
            </div>
        </div>
    </form>
</section>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- Add/remove descriptive text when image file is changed -->
    <script>
        // jshint esversion: 6
        $('#id_image').change(function () {
            var file = $('#id_image')[0].files[0];
            var label = $("label[for='" + $('#image-clear_id').attr('id') + "']");
            $('#filename').addClass('text-success').removeClass('text-danger d-none');
            $('#filename').html(`<br>Image will be set to: ${file.name}`);
            label.removeClass('text-underline');
            $('#image-clear_id').prop('checked', false);
        });

        $('#image-clear_id').change(function () {
            var label = $("label[for='" + $(this).attr('id') + "']");
            if ($('#image-clear_id').is(':checked')) {
                label.addClass('text-underline');
                $('#filename').addClass('text-danger').removeClass('text-success d-none');
                $('#filename').html(`<br>Image will be set to: no-image.jpg`);
            } else {
                label.removeClass('text-underline');
                $('#filename').addClass('d-none').removeClass('text-danger');
            }
        });
    </script>
{% endblock %}