{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}
<div class="container-fluid">
    <div class="row bg-white">
        <div class="col">
            <h2 class="pb-2">Product Management</h2>
            <hr class="hr-short">
            <h3 class="p-2">Edit a Product</h3>
            <hr class="hr-short">
        </div>
    </div>
    <form method="POST" action="{% url 'edit_product' product.id %}" class="text-skinny text-md" enctype="multipart/form-data">
        <div class="row pb-0">
            <div class="col-11 col-sm-6 col-md-4 mx-auto">
                {% csrf_token %}
                {% for field in form %}
                {% if field.name != 'available' %}
                {{ field | as_crispy_field }}
                {% else %}
                <label class="form-check-label form-check-label-available container-radio text-skinny mx-auto">
                    {% if product.available == True %}
                    <input class="form-check-input" type="checkbox" checked>
                    {% else %}
                    <input class="form-check-input" type="checkbox">
                    {% endif %}
                    <span class="form-check-checkmark"></span>
                    {{field.name | capfirst}}
                </label>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row pt-0">
            <div class="col-12 pt-0 pb-2">
                <button class="btn btn-light btn-long" type="submit">Update Product</button>
            </div>
            <div class="col-12 pt-2 pb-2">
                <a class="btn btn-light btn-long" href="{% url 'products' %}" role="button">Cancel</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            var label = $("label[for='" + $('#remove-image').attr('id') + "']");
            $('#filename').addClass('text-success').removeClass('text-danger d-none');
            $('#filename').html(`<br>Image will be set to: ${file.name}`);
            label.removeClass('text-underline');
            $('#remove-image').prop('checked', false);
        });

        $('#remove-image').change(function() {
            var label = $("label[for='" + $(this).attr('id') + "']");
            if ($('#remove-image').is(':checked')) {
                label.addClass('text-underline');
                $('#filename').addClass('text-danger').removeClass('text-success d-none');
                $('#filename').html(`<br>Image will be set to: no-image.png`);
            } else {
                label.removeClass('text-underline');
                $('#filename').addClass('d-none').removeClass('text-danger');
            }
        });
    </script>
{% endblock %}