{% extends "base.html" %}
{% load static %}

{% block extra_title %} | Products{% endblock %}

{% block content %}

{% include 'products/includes/product_nav_header.html' %}

{% if request.user_agent.is_mobile %}
<!-- Filter and sort modals -->
<section class="container-fluid bg-lightblue d-md-none">
    <div class="row pt-3 pb-0">
        <div class="col-12">
            <div class="btn btn-light btn-sm mr-2 mr-sm-4" onclick="openFilters()">Filter <i class="fas fa-sliders-h"></i></div>
            <div class="btn btn-light btn-sm ml-2 ml-sm-4" onclick="openSort()">Sort <i class="fas fa-sort"></i></div>
        </div>
    </div>
    <!-- Filters modal -->
    <div class="modal-filters hide" id="modal-filters">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body pt-0">
                    <button class="icon icon-black modal-close" onclick="closeFilters()">
                        <span><i class="fas fa-times"></i></span>
                    </button>
                    {% include 'products/includes/product_filter_categories.html' %}
                </div>
            </div>
        </div>
    </div>
    <!-- Sort modal -->
    <div class="modal-filters hide" id="modal-sort">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body pt-0">
                    <button class="icon icon-black modal-close" onclick="closeSort()">
                        <span><i class="fas fa-times"></i></span>
                    </button>
                    {% include 'products/includes/product_sort_categories.html' %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
<section class="container-fluid bg-lightblue">
    <div class="row py-0 mb-0">
        <!-- Display category and sorting modals on left on larger devices -->
        <div class="d-none d-md-block px-0 col-md-4 ml-md-auto col-lg-3 col-xl-2">
            {% if request.user_agent.is_mobile == False %}
            <div class="sticky-top">
                <div class="sticky-top-filters">
                    {% include 'products/includes/product_filter_categories.html' %}
                    {% include 'products/includes/product_sort_categories.html' %}
                </div>
            </div>
            {% endif %}
        </div>
        {% if products %}
            <div class="col-12 col-md-7 px-md-0 col-lg-8 col-xl-9">
                <div class="row justify-content-center">
                    {% for product in products %}
                        {% include 'products/includes/product_covertiles.html' %}
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="col-11 col-sm-7 mx-auto no-search-results-container">
                <div class="no-search-results">
                    <hr class="mt-4 mb-2">
                    <h2>No results!</h2>
                    <span class="text-md text-skinny">Sorry about that! Try changing your search terms and give it another go!</span>
                    <hr class="mt-2 mb-4">
                </div>
            </div>
        {% endif %}
    </div>
    <div class="icon icon-black btn-up hide">
        <a class="btn-up-link">
            <i class="fas fa-arrow-up"></i>
        </a>
    </div>
</section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/js_product_onload_animation.html' %}
{% include 'products/includes/js_product_modal_control.html' %}
{% include 'products/includes/js_product_scroll_button.html' %}
{% endblock %}