{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}

{% include 'products/includes/product_nav_header.html' %}

<section class="container-compress">
    <div class="row pt-md-3">
        <div class="d-none d-md-block col-md-5 align-self-center cover-tile cover-tile-bg-{{ product.range }} cover-tile-detail">
            {% if product.available == False %}
            <h3 class="product-tag product-unavailable text-thick">Unavailable</h3>
            {% endif %}
            <a href="{{ MEDIA_URL }}{{ product.image }}" target="_blank">
                <img class="cover-tile-image-detail cover-tile-image-{{ product.range }}"
                    src="{{ MEDIA_URL }}{{ product.image }}" alt="{{ product.name }}">
            </a>
        </div>
        <div class="col-12 col-md-7 p-0 align-self-center">
            <div class="row pt-0">
                <div class="col-12 pb-2 pb-md-0">
                    <h1>{{ product.name }}</h1>
                </div>
                {% if request.user.is_superuser %}
                <div class="col-12 pb-2 pb-md-0">
                    <h3>
                        <a class="text-success" href="{% url 'edit_product' product.id %}">Edit</a> |
                        <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                    </h3>
                </div>
                {% endif %}
                <div class="col-12 d-md-none cover-tile cover-tile-bg-{{ product.range }}">
                    {% if product.available == False %}
                    <h3 class="product-tag product-unavailable text-thick">Unavailable</h3>
                    {% endif %}
                    <a href="{{ MEDIA_URL }}{{ product.image }}" target="_blank">
                        <img class="cover-tile-image-detail cover-tile-image-{{ product.range }}"
                            src="{{ MEDIA_URL }}{{ product.image }}" alt="{{ product.name }}">
                    </a>
                </div>
                <div class="col-12 pt-2">
                    <h2>£{{ product.price }}</h2>
                </div>
                {% if product.range %}
                <div class="col-12 align-self-center p-1">
                    <h3>Colours</h3>
                </div>
                <div class="col-12 d-inline-flex align-items-center justify-content-center">
                    {% if product.range|lower == "classic" %}
                    {% include 'includes/coverswatches/coverswatch_classic.html' %}
                    {% elif product.range|lower == "stylish" %}
                    {% include 'includes/coverswatches/coverswatch_stylish.html' %}
                    {% elif product.range|lower == "premium" %}
                    {% include 'includes/coverswatches/coverswatch_premium.html' %}
                    {% elif product.range|lower == "disney" %}
                    {% include 'includes/coverswatches/coverswatch_disney.html' %}
                    {% endif %}
                </div>
                {% endif %}
            </div>
            <div class="col-11 mx-auto product-description d-md-none">
                <span class="text-md text-skinny">{{ product.description }}</span>
            </div>
            <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <div class="row">
                        <div class="col-12 align-self-center">
                            <h3>Quantity</h3>
                        </div>
                        <div class="col-12 d-inline-flex align-items-center justify-content-center">
                            <div class="input-group-append">
                                <button class="increment-qty" data-item_id="{{ product.id }}"
                                    id="increment-qty_{{ product.id }}">
                                    <span class="icon icon-sm icon-black">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                </button>
                            </div>
                            <input class="input-quantity qty_input" type="number" name="quantity" value="1" min="1"
                                max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                            <div class="input-group-prepend">
                                <button class="decrement-qty" data-item_id="{{ product.id }}"
                                    id="decrement-qty_{{ product.id }}">
                                    <span class="icon icon-sm icon-black">
                                        <i class="fas fa-minus"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 pt-2 pb-0">
                        <input class="btn btn-long btn-dark" type="submit" value="Add to Basket">
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </div>
            </form>
            <form class="form" action="{% url 'add_to_fav' product.id %}" method="POST">
                {% csrf_token %}
                    <div class="row">
                        <div class="col-12 pt-2 pb-0">
                            <input class="btn btn-long btn-dark" type="submit" value="Add to Favourites">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
            </form>
        </div>
    </div>
    <div class="d-none d-md-block row mb-2">
        <div class="col-12 product-description">
            <span class="text-md text-skinny">{{ product.description }}</span>
        </div>
    </div>
</section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'includes/coverswatches/cover_swatches.html' %}
{% include 'products/includes/cover_swatches_productdetail.html' %}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}