{% extends "base.html" %}
{% load static %}

{% block content %}

{% include 'products/includes/product_nav_header.html' %}

<!-- Filter and sort modals -->
<section class="container-fluid bg-lightblue d-md-none">
    <div class="row pt-3 pb-0">
        <div class="col-12">
            <div class="btn btn-light btn-sm mr-2 mr-sm-4" onclick="openFilters()">Filter <i class="fas fa-sliders-h"></i></div>
            <div class="btn btn-light btn-sm ml-2 ml-sm-4" onclick="openSort()">Sort <i class="fas fa-sort"></i></div>
        </div>
    </div>
    <!-- Filters modal -->
    <div class="modal-filters hide" id="modal-filters">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body pt-0">
                    <button class="icon icon-black modal-close" onclick="closeFilters()">
                        <span><i class="fas fa-times"></i></span>
                    </button>
                    {% include 'products/includes/product_filter_categories.html' %}
                </div>
            </div>
        </div>
    </div>
    <!-- Sort modal -->
    <div class="modal-filters hide" id="modal-sort">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body pt-0">
                    <button class="icon icon-black modal-close" onclick="closeSort()">
                        <span><i class="fas fa-times"></i></span>
                    </button>
                    {% include 'products/includes/product_sort_categories.html' %}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid bg-lightblue">
    <div class="row pt-0 mb-0">
        <div class="d-none d-md-block col-md-4">
            <div class="sticky-top">
            {% include 'products/includes/product_sort_categories.html' %}
            {% include 'products/includes/product_filter_categories.html' %}
            </div>
        </div>
        <div class="col-12 col-md-8">
            <div class="row justify-content-center">
                {% for product in products %}
                    {% include 'products/includes/product_covertiles.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="icon icon-black btn-up hide">
        <a class="btn-up-link">
            <i class="fas fa-arrow-up"></i>
        </a>
    </div>
</section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    onload = function() {
        var currentUrl = new URL(window.location);
        var range = currentUrl.searchParams.get("range");
        var style = currentUrl.searchParams.get("style");
        var colour = currentUrl.searchParams.get("colour");
        var sort = currentUrl.searchParams.get("sort");
        var direction = currentUrl.searchParams.get("direction");

        if (range !== null) {
            var category = "range";
            var name = range;
        } else if (style !== null) {
            var category = "style";
            var name = style;
        } else if (colour !== null) {
            var category = "colour";
            var name = colour;
        } else {
            var category = null;
            var name = null;
        }

        if (category !== null) {
            var filtersTitleNav = $(`#${name}_label`).text().trim()
            $("#filters-title-nav").html(filtersTitleNav);

            var filtersTitle = $(`#${name}_label`).text().trim().split("(")[0].trim();
            $(`input[name=${category}][value='${name}']`).prop("checked",true);
            $(`#collapse-productfilters-${category}`).addClass("show");
            $("#filters-title").html(`${category} | ${filtersTitle}`);
        }

        var sortTitle = $(`#${sort}_${direction}_label`).text().trim();
        $("#sort-title").html(sortTitle);
        $(`input[name="sort"][value='${sort}_${direction}']`).prop("checked",true);
    }
</script>

<script type="text/javascript">
    function openFilters() {
        $("#modal-filters").removeClass("hide");
    }

    function closeFilters() {
        $("#modal-filters").addClass("hide");
    }

    function openSort() {
        $("#modal-sort").removeClass("hide");
    }

    function closeSort() {
        $("#modal-sort").addClass("hide");
    }
</script>
{% endblock %}