{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="container-fluid">
        <h1>Product detail!</h1>
    </section>
    <section class="container-compress">
        <div class="row">
            <div class="col">
                <a href="{{ product.image_url }}" target="_blank">
                    <img src="{{ product.image_url }}" alt="{{ product.name }}">
                </a>
                <h4>{{ product.name }}</h4>
                <h4>{{ product.price }}</h4>
                <h4>{{ product.description }}</h4>
            </div>
        </div>
    </section>
{% endblock %}